.pop-up-wrap {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999
}

.pop-up-wrap .pop-up-close-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.pop-up-wrap .pop-up-panel-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    padding: 20px;
    min-width: 100px;
    min-height: 20px
}

.pop-up-wrap .btn-close {
    width: 42px;
    height: 42px;
    margin-top: -22px;
    background: url(//ydcdn2.ichuanyi.cn/media/pc/image/module_adv/pop_up_panel/btn-close_3a54216.png?__sprite) no-repeat;
    position: absolute;
    top: 0;
    right: 10px
}

.pop-up-wrap .js-content-wrap {
    position: relative
}

.pop-up-wrap .download-btn-container {
    width: 340px;
    height: 32px;
    position: absolute;
    bottom: 50px;
    right: 30px
}

.pop-up-wrap .download-btn-container .download-btn-app {
    width: 158px;
    height: 32px;
    background: url(//ydcdn2.ichuanyi.cn/media/pc/image/module_simple/pop_QRCode/image/btn_iphone_download_09ad27d.png) no-repeat;
    float: left
}

.pop-up-wrap .download-btn-container .download-btn-androdid {
    width: 158px;
    height: 32px;
    background: url(//ydcdn2.ichuanyi.cn/media/pc/image/module_simple/pop_QRCode/image/btn_android_download_96aa952.png) no-repeat;
    float: right
}

.pop-up-wrap .download-qr-code-wrap {
    position: absolute;
    top: 170px;
    right: 120px
}

.pop-up-wrap .download-qr-code-wrap .download-qr-code {
    width: 160px;
    height: 160px
}

.pop-up-wrap .download-qr-code-wrap .dl-qr-code-description {
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
    color: #bbb
}

.pop-up-wrap .download-qr-code-wrap .ichuanyi-logo {
    position: absolute;
    top: 65px;
    left: 65px
}

a {
    text-decoration: none;
    color: #666
}

img {
    border: 0
}

h1.title {
    font-size: 25px;
    color: #420e4d;
    margin-bottom: 20px
}

.content-container {
    position: relative;
    top: -100px;
    width: 1230px;
    padding: 0 15px;
    position: relative
}

.content-container .border-bottom-wrap {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f4f4
}

.fleft {
    float: left
}

.fright {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.arrow-container {
    position: absolute;
    right: 0;
    top: 0
}

.arrow-container .icon-left {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(//ydcdn2.ichuanyi.cn/media/pc/image/page/index/image/icon-left_a3ce92e.png);
    float: left
}

.arrow-container .icon-right {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(//ydcdn2.ichuanyi.cn/media/pc/image/page/index/image/icon-right_1c314d8.png);
    float: left
}

.arrow-container .icon-left:hover {
    width: 30px;
    height: 30px;
    background-image: url(//ydcdn2.ichuanyi.cn/media/pc/image/page/index/image/icon-left-hover_e61e185.png)
}

.arrow-container .icon-right:hover {
    width: 30px;
    height: 30px;
    background-image: url(//ydcdn2.ichuanyi.cn/media/pc/image/page/index/image/icon-right-hover_04e009f.png)
}

a {
    text-decoration: none
}

.scroll-pic-content {
    overflow: hidden;
    position: relative
}

.scroll-pic-content .content-wrap {
    margin: 0;
    position: absolute;
    height: 100%;
    overflow: hidden
}

.fashion-goods-scroll-pic-content {
    padding-bottom: 20px
}

.banner-container {
    min-height: 350px;
    margin-top: 10px
}

.banner-container .menu {
    width: 430px;
    height: 366px
}

.banner-container .right-menu-container {
    display: inline-block;
    width: 190px;
    margin-top: 2px;
    height: 366px;
    border: 1px solid #ccc
}

.banner-container .right-menu-container .menu-item {
    padding: 15px;
    border: 2px solid transparent;
    border-bottom: 1px solid #ccc;
    margin-top: -2px;
    margin-bottom: -2px;
    height: 60px;
    position: relative
}

.banner-container .right-menu-container .menu-item .title {
    color: #d94dfc;
    font-size: 16px;
    height: 16px;
    cursor: default
}

.banner-container .right-menu-container .menu-item .arrow-right {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 8px;
    height: 12px;
    background: url(//ydcdn2.ichuanyi.cn/media/pc/image/page/index/image/arrow-right-grey_a724f7b.png) no-repeat
}

.banner-container .right-menu-container .menu-item .active {
    background: url(//ydcdn2.ichuanyi.cn/media/pc/image/page/index/image/arrow-right-pink_28eb3b7.png) no-repeat
}

.banner-container .right-menu-container .menu-item.last {
    height: 63px
}

.banner-container .right-menu-container .menu-item-hover-main {
    border: 2px solid #d94dfc;
    border-right: 2px solid #f4f4f4;
    background-color: #f4f4f4;
    margin-right: -2px;
    margin-bottom: -2px;
    height: 59px
}

.banner-container .right-menu-container .list .list-item {
    margin-top: 10px;
    width: 51px;
    float: left;
    color: #666;
    font-size: 12px;
    height: 12px
}

.banner-container .right-menu-container .list .pink {
    color: #d94dfc
}

.banner-container .right-menu-container-hover {
    border-right: 2px solid #d94dfc
}

.banner-container .popup-memu-content-container {
    display: inline-block;
    width: 240px;
    height: 366px;
    background-color: #f4f4f4;
    border: 2px solid #d94dfc;
    border-left: 0;
    display: none;
    position: absolute;
    left: 208px;
    margin-top: 1px;
    z-index: 1
}

.banner-container .popup-memu-content-container .menu-content-row {
    display: none;
    height: 91px;
    width: 100%
}

.banner-container .popup-memu-content-container .menu-content-row .menu-list-item {
    margin-top: 15px;
    width: 33.33%;
    text-align: center;
    float: left;
    height: 75px
}

.banner-container .popup-memu-content-container .menu-content-row .menu-list-item .circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    behavior: url(//ydcdn2.ichuanyi.cn/media/pc/css/common_lib_3rd/plugin/pie/1.0.0/PIE.htc)
}

.banner-container .popup-memu-content-container .menu-content-row .menu-list-item .title {
    font-size: 12px
}

.banner-pic-container {
    position: absolute!important;
    left: 208px;
    top: 0;
    height: 368px;
    width: 980px;
    overflow: hidden;
    z-index: 0;
    margin-top: 2px
}

.brand-and-choice-container {
    min-height: 200px
}

.brand-and-choice-container .brand-container {
    width: 50%;
    float: left
}

.brand-and-choice-container .brand-container .content {
    width: 540px
}

.brand-and-choice-container .brand-container .content .brand-item {
    width: 20%;
    float: left;
    text-align: center
}

.brand-and-choice-container .brand-container .content .brand-item img {
    width: 100px;
    height: 100px
}

.brand-and-choice-container .brand-container .content .brand-item img:hover {
    box-shadow: 0 0 20px #ccc
}

.brand-and-choice-container .edit-choice-container {
    width: 50%;
    float: left
}

.brand-and-choice-container .edit-choice-container .arrow-container {
    top: 16px
}

.brand-and-choice-container .edit-choice-container .scroll-pic-content {
    width: 585px;
    height: 200px
}

.brand-and-choice-container .edit-choice-container .scroll-pic-content .content-wrap {
    padding: 0
}

.brand-and-choice-container .edit-choice-container .scroll-pic-content .content-wrap img {
    display: block;
    margin-right: 10px;
    height: 200px;
    float: left
}

.brand-and-choice-container .edit-choice-container .scroll-pic-content .content-wrap img.last {
    margin-right: 0
}

.fashion-goods-container {
    margin-top: 50px
}

.fashion-goods-container .scroll-pic-content {
    height: 210px;
    width: 1170px;
    margin-top: -20px
}

.fashion-goods-container .scroll-pic-content .content-wrap img {
    display: block;
    margin-right: 10px;
    height: 210px;
    float: left
}

.fashion-goods-container .scroll-pic-content .content-wrap img.last {
    margin-right: 0
}

.in-suit-container {
    min-height: 200px
}

.daily-choice-container {
    min-height: 200px;
    margin-bottom: 55px
}

.daily-choice-container .daily-choice-item {
    width: 20%;
    height: 280px;
    float: left
}

.daily-choice-container .daily-choice-item img.item-pic {
    display: block;
    width: 220px;
    height: 220px;
    margin: 5px auto 0;
    position: relative
}

.daily-choice-container .daily-choice-item .item-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px
}

.daily-choice-container .daily-choice-item .item-name,
.daily-choice-container .daily-choice-item .item-info {
    margin: 5px 10px 0;
    overflow: hidden
}

.daily-choice-container .daily-choice-item .item-info .item-price {
    color: #d94dfc;
    font-size: 12px
}

.daily-choice-container .daily-choice-item .item-info .like {
    max-width: 100px;
    overflow: hidden;
    height: 12px;
    line-height: 12px
}

.daily-choice-container .daily-choice-item .item-info .like .icon-like {
    width: 14px;
    height: 12px;
    background: url(//ydcdn2.ichuanyi.cn/media/pc/image/page/index/image/icon-like_69f7482.png) no-repeat;
    margin-right: 3px
}

.daily-choice-container .daily-choice-item .item-info .like .like-number {
    font-size: 12px
}

.daily-choice-container .daily-choice-item:hover {
    box-shadow: 0 0 10px #ccc
}

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

@charset 'UTF-8';
.slick-loading .slick-list {
    background: #fff url(./ajax-loader.gif) center center no-repeat
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/slick.eot);
    src: url(./fonts/slick.eot?#iefix) format('embedded-opentype'), url(./fonts/slick.woff) format('woff'), url(./fonts/slick.ttf) format('truetype'), url(./fonts/slick.svg#slick) format('svg')
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: transparent
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: 0;
    background: transparent
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25
}

.slick-prev:before,
.slick-next:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    right: -25px;
    left: auto
}

.slick-prev:before {
    content: 'â†'
}

[dir=rtl] .slick-prev:before {
    content: 'â†’'
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

.slick-next:before {
    content: 'â†’'
}

[dir=rtl] .slick-next:before {
    content: 'â†'
}

.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: transparent
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: 0
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: 'â€¢';
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000
}

.slick-dots {
    bottom: 0;
    width: auto;
    right: 40px
}

.slick-dots li button:before {
    font-family: inherit;
    font-size: 14px;
    content: '●';
    opacity: .75;
    color: #fff
}

.slick-dots li.slick-active button:before {
    font-family: inherit;
    color: #d94dfc
}

.in-suit-item {
    width: 234px;
    height: 390px;
    float: left;
    margin-top: 5px;
    position: relative
}

.in-suit-item .in-suit-pic-warp {
    width: 220px;
    height: 340px;
    margin: 0 auto;
    overflow: hidden
}

.in-suit-item img.item-pic {
    display: block;
    margin: 2px auto 0
}

.in-suit-item img.avatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 40px;
    left: 20px;
    behavior: url(//ydcdn2.ichuanyi.cn/media/pc/css/common_lib_3rd/plugin/pie/1.0.0/PIE.htc)
}

.in-suit-item .goods-info {
    margin: 20px 5px 0
}

.in-suit-item .goods-info .shop-keeper-name {
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 15px;
    font-size: 12px;
    cursor: auto
}

.in-suit-item .goods-info .like {
    width: 60px;
    overflow: hidden;
    margin-right: 15px;
    height: 12px;
    line-height: 12px
}

.in-suit-item .goods-info .like .icon-like {
    width: 14px;
    height: 12px;
    background: url(//ydcdn2.ichuanyi.cn/media/pc/image/module_simple/cell/suit_cell/image/icon-like_69f7482.png) no-repeat;
    margin-right: 3px;
    cursor: auto
}

.in-suit-item .goods-info .like .like-number {
    cursor: auto;
    font-size: 12px
}

.content-container .in-suit-item:hover {
    box-shadow: 0 0 10px #ccc
}