.beauty_top{background-color: #373737;width:100%;height:35px;color:#FFFFFF;}
.beauty_topb{background-color: #404040;width:960px;height:35px;margin:0 auto;}
.beauty_nav{float:left;line-height:35px;color:#777777;}
.beauty_nav a{margin:0 10px;color:#FFFFFF;}
.beauty_search{float:left;width:166px;height:18px;margin:6px 0 0 10px;padding:1px;border:1px solid #cdcbcc;background-color:#FFFFFF;}
.beauty_input{float:left;border:none;background-color:#dadada;width:140px;height:18px;line-height:18px;padding-left:8px;color:#999999;}
.beauty_button{float:left;border:none;background:#e6e6e6 url(../Images/icon.png) no-repeat 0 0;width:18px;height:18px;cursor:pointer;}
.beauty_login{float:right;line-height:35px;}
.beauty_login a{margin-right:10px;color:#FFFFFF;}

.beauty_c{width: 100%;background: url(../Images/sub.png) no-repeat center 0;}
.beauty_menu{margin:0 auto;border-top:2px solid #FFFFFF;width:960px;height: 30px;background-color: #970558;line-height: 30px;color: #c06699;}
.beauty_menu a{color: #FFFFFF;margin:0 6px;}
.beauty_menu_1{float:left;height:30px;}
.beauty_menu_1 dt{display:inline;font-weight: 700;margin:0 0 0 25px;color:#FFFFFF;}
.beauty_menu_1 dt a{margin:0 15px 0 0;}
.beauty_menu_1 dd{display:inline;}
.beauty_menu_2,.beauty_menu_3{float: left;margin-left:20px;}
.beauty_submenu{margin:0 auto;width:960px;height: 43px;border-bottom: 1px solid #dcdcdc;}
.beauty_submenu dl{height: 42px;line-height: 42px;background-color: #f1f1f1;border-bottom: 1px solid #FFFFFF;}
.beauty_submenu dt{float: left;width: 267px;height: 42px;}
.beauty_submenu dd{float:left;margin:2px 0 0 15px;height: 20px;}
.beauty_submenu dd a{font-size:14px;background: url(../Images/icon.png) no-repeat 0 -42px;padding-left: 15px;margin-right: 5px;}
.beauty_submenu dd.logo_r{float:left; height:42px;margin:0 15px 0 0; width:58px; overflow:hidden; position:relative;}
.beauty_submenu dd.logo_r p{ padding:0; margin:0; height:42px; overflow:hidden;}
.beauty_submenu dd.r{float:right; height:40px;}
.beauty_submenu dd.r a{ background:none;}
.paging_redblack{text-align: center;}
.paging_redblack a{display:inline-block;width: 10px;height: 10px;background: url(../Images/icon.png) no-repeat -3px -584px;margin:10px 5px;cursor:pointer;}
.paging_redblack a.active{background: url(../Images/icon.png) no-repeat -3px -417px;}


.star0,.star1,.star2,.star3,.star4,.star5,.star1_h,.star2_h,.star3_h,.star4_h,.star5_h{display: inline-block;*display: inline;*zoom:1;overflow:hidden;font-size:0;width:92px;height:18px;background:url(../Images/star.png) no-repeat 0 0;vertical-align:middle;}
.star0{background-position:0 0;}
.star1{background-position:0 -20px;}
.star2{background-position:0 -40px;}
.star3{background-position:0 -60px;}
.star4{background-position:0 -80px;}
.star5{background-position:0 -100px;}
.star1_h{background-position:0 -120px;}
.star2_h{background-position:0 -140px;}
.star3_h{background-position:0 -160px;}
.star4_h{background-position:0 -180px;}
.star5_h{background-position:0 -200px;}

.com_arrow_list li{overflow: hidden;height: 29px;*height:25px;font:12px/29px "microsoft yahei",'\9ed1\4f53','simsum';background: url(../Images/icon.png) no-repeat 3px -70px;padding-left: 13px;border-top: 1px dotted #333333;}
.com_arrow_list li:first-child{border-top: none;}
.mtb10{margin: 10px auto;}
h3.mb0{margin-bottom: 0;}
h3.mb5{margin-bottom: 5px;}
h3.mb10{margin-bottom: 10px;}
h3.mlt20{margin:0 20px;}
.VAS_960x100{width:960px;margin:0 auto;text-align: center;}
.VAS_950x100{width:950px;margin:20px auto;text-align: center;}

.g_d_160{overflow:hidden;height:130px;margin:20px 20px 0;}
.g_d_160_l{float:left;display:block;width:160px;height:120px;margin:0 10px  0 0;}
.g_d_160_r{overflow:hidden;width:160px;}
.g_d_160_r h3{overflow:hidden;height:22px;line-height:22px;margin-bottom:10px;}
.g_d_160_r h3 a{font:14px "microsoft yahei",'\9ed1\4f53','simsum';}
.g_d_160_r li{overflow:hidden;height:27px;line-height:27px;background:url(../Images/icon.png) no-repeat -1px -37px;padding-left:10px;}
.g_d_160_r li a,.g_d_160_r p{font:12px "microsoft yahei",'\9ed1\4f53','simsum';}
.g_d_160_r p{color: #888888;line-height: 2em;}

.c p{line-height: 2em;color: #888888;}
.c p a{color: #333333;margin-left:0px;}
.c p a:hover{color:#970558;}

.g_d_80{overflow:hidden;height:90px;}
.g_d_80_l{float:left;display:block;width:80px;height:80px;margin:0 10px  0 0;}
.g_d_80_r{overflow:hidden;}
.g_d_80_r h4{overflow:hidden;height:22px;line-height:22px;}
.g_d_80_r h4 a{font:14px "microsoft yahei",'\9ed1\4f53','simsum';}
.g_d_80_r p{font:12px/1.8em "microsoft yahei",'\9ed1\4f53','simsum';color: #888888;}

.g_d_48{overflow:hidden;height:58px;}
.g_d_48_l{float:left;display:block;width:48px;height:48px;margin:0 10px  0 0;}
.g_d_48_r{overflow:hidden;}
.g_d_48_r h4{overflow:hidden;height:22px;line-height:22px;}
.g_d_48_r h4 a{font:14px "microsoft yahei",'\9ed1\4f53','simsum';}
.g_d_48_r p{overflow:hidden;height:20px;font:12px/20px "microsoft yahei",'\9ed1\4f53','simsum';color: #888888;}

.c1_l_1_l,.c1_l_1_r{display:none;top:200px;position:absolute;width:16px;height:31px;background:url(../Images/a.png) no-repeat 0 0;}
.c1_l_1:hover .c1_l_1_l,.c1_l_1:hover .c1_l_1_r{display:block;}
.c1_l_1_l{left:10px;}
.c1_l_1_r{right:10px;background-position:-18px 0;}

/* modify Yuanyanjun 20140117 start */
.beauty_submenu dd.r img{
	float:right;
}
/* modify Yuanyanjun 20140117 end */
