#pager ul.pages {
display:block;
border:none;
text-transform:uppercase;
font-size:10px;
margin:10px auto 50px;
padding:0;
*width:450px;
margin:0 auto;
}

#pager ul.pages li{
list-style:none;
display: inline-block;
*display:block;
*float:left;
height: 23px;
border: 1px solid #cfcfcf;
line-height: 23px;
padding: 0 10px;
text-align: center;
margin: 3px;
vertical-align: middle;
}

#pager ul.pages li:hover{
border:1px solid #8b0c53;
}

#pager ul.pages li.pgEmpty{
	display:none !important;
}

#pager ul.pages li.pgCurrent{
border: 1px solid #8b0c53;
background-color: #fae3ed;
color: #8b0c53;
font-weight: 700;
}
#pager ul.pages li.pgPrev{background: url(../Images/paging.png) no-repeat 0 0;padding-left: 18px;}
	
#pager ul.pages li.pgNext{background: url(../Images/paging.png) no-repeat right -37px;padding-right: 18px;}
