/* CSS Document */
.c {overflow: inherit !important;}
.review {border-top: 1px solid #AFAFAF;width: 580px;margin: 20px auto; clear:both;}
.noborder { border:none !important;}
.review .paging { padding:30px 0; border-bottom:1px solid #afafaf; clear:both;}
.review .tit {font: 500 18px microsoft yahei; line-height:30px; padding-left:25px; margin:15px 0;background: url("../Images/bt_icon.png") 0 -76px no-repeat;}
.review_box { background-color:#f5f5f5; margin-bottom:20px; padding:15px 40px;position: relative;}
.review_box .p1 {color: #888888;line-height: 25px;margin-bottom: 10px;}
.review_box .edit_box {width: 648px;height: 120px; padding:15px;border: 1px solid #a0a0a0; background-color:#ffffff;}
.pic_do { height:30px;position: absolute;right:40px;bottom:15px; overflow:hidden;}
.pic_do_review { height:30px; margin-top:10px; overflow:hidden;}
.biaoqing { background:url(../Images/biaoqing.jpg) 0 6px no-repeat; color:#888888; font-size:14px; padding-left:20px; height:30px; line-height:30px; display:block; float:left;}
.login_wb { background:url(../Images/login_icon.jpg) 0 0 no-repeat; height:25px; width:105px; display:inline-block; vertical-align:middle; margin-left:10px;}
.login_qq { background:url(../Images/login_icon.jpg) 0 -25px no-repeat; height:25px; width:105px; display:inline-block; vertical-align:middle; margin-left:10px;}

.comment {}
.comment_item { border-bottom:1px solid #f2f2f2; padding:20px 0;clear: both;}
.touxiang { float:left; display:inline; margin-right:30px; width:50px; height:50px; overflow:hidden;}
.comment_con {float: right; width:500px;}
.comment_con .txt { line-height:22px; color:#888888;word-break: break-all;}
.comment_con .date { color:#888888; margin:5px 0 10px 0; text-align:right;}
.comment_con .date span {margin-right: 12px;}
.comment_con .reply_box {background-color: #f5f5f5; margin-top:20px; padding:18px; position:relative; display:none;}
.comment_con .reply_box .arrow {border-style: solid; border-width: 8px; border-color: #ffffff #ffffff #f5f5f5 #ffffff; display:block; position: absolute;right: 20px; z-index: 9999;top: -16px;height:0; width:0; line-height:0; _font-size: 0;}

.comment_con .user {float:left; margin-right:5px;}
.comment_con .reply_box .reply_input { width:462px; height:70px;}
.comment_con .reply_box .reply_input textarea { padding:5px;background-color:#ffffff; border:1px solid #dcdcdc; font-family:"microsoft yahei"; width:450px; height:60px; line-height:20px;}

.reply_btn { background:url(../Images/reply_btn.png) 0 -60px no-repeat; color:#000000;height:30px; line-height:30px;text-align:center; font-size:14px; width:77px; display:block; float:left; margin-left:15px;}
.reply_btn:hover { background:url(../Images/reply_btn.png) 0 -90px no-repeat; color:#000000 !important; text-decoration:none;}

.reply_btn_s { background:url(../Images/reply_btn.png) 0 -120px no-repeat; color:#000000;height:22px; line-height:22px;text-align:center; font-size:12px; width:57px; display:block; float:left; margin-left:15px;}
.reply_btn_s:hover { background:url(../Images/reply_btn.png) 0 -142px no-repeat; color:#000000 !important; text-decoration:none;}

.detail_vote a.do_review { background:url(../Images/reply_btn.png) 0 0 no-repeat; width:84px; height:26px;display: inline-block;vertical-align: middle;}
.detail_vote a.do_review:hover { background:url(../Images/reply_btn.png) 0 -30px no-repeat;}

/*公共样式*/
.rl_exp{
	margin:0 auto;position:absolute;
	padding:20px;border: 1px solid #D0D0D0;
	box-shadow: 0 0 2px 2px #fff inset,1px 1px 0 rgba(127,127,127,0.1);
	overflow: hidden;background: none repeat scroll 0 0 white;zoom:1;z-index:100;
}
.comment .rl_exp{width: 420px;}

.rl_exp a{outline:none;blr:expression(this.onFocus=this.blur());}
.rl_exp ul{list-style:none;margin:0;padding:0;}
.rl_exp ul li{display:list-item;}
.rl_exp ul.rl_exp_tab{
	margin:-20px -20px 20px;padding:12px 13px 0;list-style:none;
	border-bottom:1px solid #d0d0d0;border-top:1px solid #fff;
	background: -moz-linear-gradient(center top , #F6F6F6, #E5E5E5) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear,center top ,center bottom,from(#f6f6f6),to(#E5E5E5)) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#E5E5E5');
}
.rl_exp ul.rl_exp_tab li{float:left;margin-right:10px;display:list-item;text-align: -webkit-match-parent;}
.rl_exp ul.rl_exp_tab li a{
	display: block;padding: 8px 14px;font-size:13px;text-decoration: none;color: #979797;border: 1px solid #c3c3c3;
	margin-bottom: -1px;
	background: #E4E4E4;text-shadow: #fff 0 1px;
}
.rl_exp ul.rl_exp_tab li a.selected{zoom:1;background: #fff;border-bottom: 1px solid #fff;box-shadow: none;text-shadow: none;}

.rl_exp_main{margin:0;padding:0;}
.rl_exp_item{
	cursor:pointer;float:left;border:1px solid red;overflow:hidden;margin:-1px 0 0 -1px;padding:6px;text-align:center;
	border-color: #fce089;background: #fef9e7;
}
.rl_exp_item:hover{border:1px solid #0095cd;background:#fff9ec;position:relative;z-index:2;}
.rl_exp_item img{display:inline-block;*zoom:1;border:0;}

.close{
	position:absolute;right:6px;top:6px;text-decoration:none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:20px;line-height:12px;
	color:#000;text-shadow:0 1px 0 #fff;opacity:0.2;filter:alpha(opacity=20);
}
.close:hover,.close:focus{
	color:#000;cursor:pointer;opacity:0.4;filter:alpha(opacity=40);
}

.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:"";}
.clearfix:after{clear:both;}
/**************************************************************************************************************/
	.xm-bq{margin:20px 0;font-size:14px;color:#333;}
	.xm-bq a{color:#09c;margin:0 5px;}
	.xm-bq a:hover{color:#E10602;}
	.comment-main{
		display:inline-block;*display:inline;zoom:1;width:500px;margin:0 auto;padding:5px 0;border-radius:3px;text-align:left;
	}
	.comment-main textarea{width:100%;border:1px solid #dcdcdc;}
	.comment-main textarea:focus{outline:none;border-color:#4bf;}
	.comment-main a{font-size:12px;text-decoration:none;color:#09c;}
	.comment-main a:hover{color:#E10602;}



/* 表情 */
span.emotion{width:42px; height:20px; background:url(../Images/biaoqing.jpg) no-repeat 0 0; padding-left:20px; cursor:pointer}
span.emotion:hover{background-position:0 0;}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}
#show{width:680px; margin:20px auto}
.loginPanel{
	position:fixed;
	width:100%;
	height:100%;
	background:url(../Images/blackbg5.png) repeat transparent;
	left:0;
	top:0;
	z-index: 1000000;
	font-size:12px;
}
.loginPanel .loginPanel_c{
	border:1px solid #e6e6e6;
	position: absolute;
	top:50%;
	left:50%;
	width:546px;
	height:550px;
	margin-left:-273px;
	margin-top:-275px;
	background-color: #fff;
}
.loginPanel .closeBtn{
	width:14px;
	display: block;
	height:14px;
	position: absolute;
	top:10px;
	right:10px;
	background: url(../Images/closebtn.png) no-repeat center center;
	cursor:pointer;
}
.loginPanel .title{
	font-size: 20px;
	padding:22px 0 0 28px;
	line-height:40px;
}
.loginPanel .fieldWraer{
	margin-top:22px;
	height:25px;
	line-height: 25px;
}
.loginPanel .fieldWraer .fieldLabel{
	float:left;
	width:111px;
	text-align: right;
	color:#888;
	height:25px;
}
.loginPanel .fieldWraer .field{
	float:left;
	margin-left:5px;
}
.loginPanel .fieldWraer .field input{
	float:left;
	width:200px;
	border:1px solid #cec9c5;
	height:23px;
	line-height: 23px;
}

.loginPanel .fieldWraer .hint{
	float:left;
	margin-left:22px;
}
.loginPanel .fieldWraer .hint a{
	color:#000;
}
.loginPanel .questionField select{
	width:202px;
	border:1px solid #cec9c5;
	outline: none;
	height: 23px;
	line-height: 23px;
}

.loginPanel .seccodeField .field input{
	width:122px;
}
.loginPanel .seccodeField .changeBtn{
	cursor:pointer;
	color:#000;
}
.loginPanel .fieldWraer.seccodeField {
	height:auto;
}
.loginPanel .yzmWraper{
	float:left;
	clear:both;
	text-align: left;
	line-height: 14px;
	margin:15px 0 0 121px;
}
.loginPanel .autoLoginField .field input{
	width:auto;
	/*height:auto;*/
	border:none;
}
.loginPanel .loginBtn{
	float:left;
	margin-left:81px;
	background-color: #000;
	width:60px;
	height:28px;
	color:#fff;
	font-size: 16px;
	text-align: center;
	line-height: 28px;
	border:none;
	cursor:pointer;
}
.loginPanel .loginBtnWraper{
	/*height:auto;*/
	height:60px;
	width:477px;
	border-bottom:1px dotted #e6e6e6;
	margin:22px auto 0 auto;
}
.loginPanel .wb_login{
	float:left;
	width:126px;
	height:24px;
	background: url(../Images/login_icon_2.jpg) no-repeat left top;
}
.loginPanel .qq_login{
	float:left;
	width:126px;
	height:24px;
	background: url(../Images/login_icon_2.jpg) no-repeat right top;
	margin-left:11px;
}
.comment-main textarea {width:100%; height:100px;}

/*评论回复*/
.reply_comment_item {padding-left:50px;}
.reply_comment_item .touxiang {width:35px;height:35px;margin-right:20px;}
.reply_comment_item .touxiang img {width:35px;height:35px;}
.reply_comment_item .comment_con {width:475px;}