@charset "utf-8";
/* CSS Document */
.w1180 {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5 'microsoft yahei', tahoma,arial,宋体;
}
body {
    color: #000;
}
.logoAndlogin {
    padding: 28px 0 30px 0;
    position: relative;
    background-color: #fff;
}
div, ul, dl, .clearfix {
    zoom: 1;
}
div::after, ul::after, dl::after, .clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0px;
    content: " ";
    clear: both;
    height: 0px;
}
.logoAndlogin .logo {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
a {
    color: #000;
}
ins, a {
    text-decoration: none;
}
a img {
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
}
img, embed {
    vertical-align: top;
}
fieldset, img {
    border: 0;
}
.logoAndlogin .login {
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-size: 14px;
    text-align: right;
    word-spacing: 6px;
}
.navSearch {
    min-width: 1180px;
    position: relative;
    z-index: 3;
    background-color: #000;
}
.navSearch .navBg {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.navSearch .nav {
    height: 120px;
    padding-left: 12px;
}
.navSearch .nav a:hover, .navSearch .nav a.here {
    color: #ba9e66;
}
.navSearch .nav a {
    float: left;
    line-height: 60px;
    font-size: 18px;
    margin-right: 68px;
    position: relative;
}
.navSearch .nav .searchBt {
    background-position: -576px 50%;
    width: 25px;
    height: 60px;
    margin: 0;
    position: absolute;
    float: none;
    top: 0px;
    left: 980px;
}
.navSearch .nav .searchBt, .navChilren li .one a, .navSearch .search .mainbtn, .navSearch .search .closeSearchbtn {
    background-image: url("../Images/navicon.png");
    background-repeat: no-repeat;
}
.navChilren {
    height: 30px;
    padding: 15px 0;
    line-height: 30px;
    font-size: 14px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -590px;
}
.navChilren ul {
    padding-left: 12px;
}
ol, ul, li {
    list-style: none;
}
.navChilren li a {
    float: left;
    margin-right: 48px;
    cursor: pointer;
    position: relative;
}
.navSearch .search {
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -590px;
    overflow: hidden;
}
.navSearch .search .mainsearch {
    height: 30px;
    padding: 15px 0;
    background-color: #000;
}
.navSearch .search .main_input {
    height: 30px;
    width: 930px;
    border: 0;
    padding: 0 15px;
    color: #ccc;
    font-size: 14px;
}
input, select, textarea, button {
    font-size: 100%;
    outline: none;
}
.navSearch .search .c1_se_2_c {
    width: 930px;
    padding: 0 15px;
    position: absolute;
    left: 0px;
    top: 45px;
}
.c1_se_2_c {
    background-color: rgb(255, 255, 255);
    border: 1px solid #cccbcb;
    max-height: 165px;
    overflow: auto;
    right: -85px;
    zoom: 1;
    z-index: 100;
}
.navSearch .search .mainbtn {
    background-position: -576px 50%;
    width: 25px;
    height: 60px;
    margin: 0;
    border: 0;
    position: absolute;
    left: 980px;
    top: 0px;
    background-color: #000;
    cursor: pointer;
}
.navSearch .search .closeSearchbtn {
    background-position: -554px 50%;
    width: 16px;
    height: 60px;
    margin: 0;
    border: 0;
    position: absolute;
    left: 1022px;
    top: 0px;
    background-color: #000;
    cursor: pointer;
}
.hotpro {
    color: #a2a0a0;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    padding-left: 12px;
    overflow: hidden;
    background-color: #fff;
}
.hotpro a {
    white-space: nowrap;
    padding-right: 18px;
}
#crazynavdown {
    width: 1180px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#crazynavdown .s, #crazynavdown .b {
    display: none;
}
#crazynavdown .b .b1 {
    height: 300px;
}

