.article-tip{margin-bottom:25px;width:100%;height:46px;line-height:40px;text-indent:3px;font-size:16px;color:#737373;border-top:2px solid #e3e3e3;border-bottom:4px solid #434343;}
.article-tip .nav-crob{width: 980px;}
.article-tip span{color:#737373;}
article>h1{margin-top:-1px;margin-bottom:14px;font-size: 30px;}
article .article-info>span{margin-right:25px;}
article .article-info>span:last-child{margin-right:0;}
article .article-option label{display: inline;margin-left:25px;margin-bottom: 0;font-weight: normal;}
article .article-option label i.icon{margin-top: -2px;margin-right:5px;cursor:pointer;}
article .article-con{margin-top:41px;margin-bottom:30px;width:100%;line-height:24px;letter-spacing:1px;}
article .article-con p{margin-bottom:0}
article .article-con img{max-width: 100%!important;}
article .article-tag{margin-bottom:28px;}
article .article-tag a{margin-right:13px;}
article .arc-keyword {border-bottom:1px dashed #000;}
article em {font-style:oblique;}
.pager{margin-top:52px;margin-bottom:44px;}
.article-other{margin-top:25px;}
.article-other div{width:450px;}
.article-sm{margin-top:17px; /* margin-bottom: 53px;  */width:100%;color:#f1588c;}
.other-article{margin-top:58px;border-top:1px solid #000;}
.other-article h3{margin-top:15px;margin-bottom:25px;font-size:20px;}
.other-article ul{margin-left:-15px;width:915px;}
.other-article li{float:left;padding-top:6px;margin-left:15px;width:290px;height:411px;text-align:center;border:1px solid #f3f3f3;}
.other-article li .img-wrap{width:275px;height:277px;overflow:hidden;}
.other-article li h4{font-size:14px;width:250px;height:35px;line-height:30px;border-bottom:1px solid #f1f1f1;}
.other-article li p{width:250px;height:54px;line-height:27px;overflow:hidden;}
.other-article li hr{}
.comment-area{margin-top: 30px;}
.iframe-video{height:440px;}

.ques-answer {
    position: relative;
    padding-left: 56px;
    padding-top: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d0d6d9;
	margin-left:70px;
}
.ques-answer p{
	margin:0;
	padding:0;
}
.ques-answer a:link,.ques-answer a:visited{
	color:#1c1f21;
}
.ques-answer .tag-img {
    position: absolute;
    left: 0px;
    top: 25px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.ques-answer .tag-img a {
    display: block;
}
.ques-answer .tag-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.ques-answer fieldset, img {
    border: 0;
}
.ques-answer .from-tag {
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    color: #787d82;
}
.ques-answer .from-tag a {
    font-size: 12px;
    color: #787d82;
    margin-left: 15px;
}
.ques-answer .ques-con {
    line-height: 20px;
    position: relative;
}
.ques-answer .ques-con p.ques-con-content {
    display: block;
    line-height: 28px;
    margin-right: 30px;
    word-break: break-all;
}
.ques-answer .ques-con p {
    font-size: 18px;
    font-weight: 600;
    color: #14191e;
}
.ques-answer .answer-con.first {
    margin-top: 0px;
    border: 0;
}
.ques-answer .answer-con {
    padding-bottom: 46px;
    position: relative;
}
.ques-answer .answer-con .user {
    line-height: 20px;
    margin-top: 24px;
}
.ques-answer .answer-con .user a {
    font-size: 14px;
    font-weight: 600;
    color: #14191e;
    margin-right: 5px;
}
.ques-answer .answer-con .answer-content, .ques-answer .answer-con .answer-content-all {
    color: #14191e;
    line-height: 28px;
    font-size: 14px;
    margin-top: 2px;
    word-break: break-all;
    overflow: hidden;
}
.ques-answer .answer-con .answer-content-all, .ques-answer .answer-con .reply-textarea {
    display: none;
}


