<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:db.properties,classpath:redis/redis.properties" />

	<!-- 数据源，使用dbcp -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		
		<!-- <property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/company" />
		<property name="username" value="root" />
		<property name="password" value="root" /> -->
		<!-- maxActive 连接池支持的最大连接数，这里取值为10，表示同时最多有10个数据库连接。设 0 为没有限制 -->
		<property name="maxActive" value="10" />
		<!-- maxIdle 连接池中最多可空闲maxIdle个连接 ，这里取值为5，表示即使没有数据库连接时依然可以保持20空闲的连接，而不被清除，随时处于待命状态。设 0 为没有限制。 -->
		<property name="maxIdle" value="5" />

	</bean>
	
	<!-- 分页插件配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	
		<property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml" />
	
		<property name="dataSource" ref="dataSource" />

		<property name="plugins">
			<array>
				<!--之前配置错误 配置成拦截器-->
				<bean class="com.github.pagehelper.PageHelper">
					<!-- 这里的几个配置主要演示如何使用，如果不理解，一定要去掉下面的配置 -->
					<property name="properties">
						<value>
							dialect=mysql
							reasonable=true
						</value>
					</property>
				</bean>
			</array>
		</property>
	</bean>

	<!-- 
		mapper批量扫描，从mapper包中扫描出mapper接口，自动创建代理对象并且在spring容器中注册 
		前提条件：将mapper.java和mapper.xml映射文件名称保持一致，且在一个目录 中
		自动扫描出来的mapper的bean的id为mapper类名（首字母小写）
	-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 指定扫描的包名 
		如果扫描多个包，每个包中间使用半角逗号分隔
		-->
		<!--com.zua.ifashion.online.mapper,
		com.zua.ifashion.talk.mapper,
		com.zua.ifashion.article.mapper-->
		<property name="basePackage" 
		value="com.zua.ifashion.person.mapper,com.zua.ifashion.talk.mapper,com.zua.ifashion.article.mapper,com.zua.ifashion.online.mapper
		"/>
		<!--
		name使用sqlSessionFactoryBeanName
		name若使用sqlSessionFactory，则该bean先执行，加载db.properties后执行
		 -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>		
	</bean>

	<!--redis配置-->
</beans>