<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
	<!-- 这里配置的是name -->
	<!-- <bean name="/emp/login.action" class="com.geminno.controller.LoginController"/> -->

	<!-- 配置文件上传 -->

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="10485760000"></property><!-- 最大上传文件大小 -->
		<property name="maxInMemorySize" value="10960"></property>
	</bean>

	<!-- 配置json数据 -->
	<bean
			class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJackson2HttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="mappingJackson2HttpMessageConverter"
		  class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>text/json;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<!-- 设置静态资源的访问 -->
	<mvc:resources location="/static/" mapping="/static/**"/>
	<mvc:resources location="/" mapping="/**/*.js"/>
	<mvc:resources location="/" mapping="/**/*.jpg" cache-period="31536000"/>
	<mvc:resources location="/" mapping="/**/*.png" cache-period="31536000"/>
	<mvc:resources location="/" mapping="/**/*.css"/>
	<!--打开视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 配置扫描注解的包 ,如果有多个用,号隔开 -->
	<context:component-scan
		base-package="
	com.zua.ifashion.article.controller,
	com.zua.ifashion.article.service,
	com.zua.ifashion.online.controller,
	com.zua.ifashion.online.service,
	com.zua.ifashion.talk.controller,
	com.zua.ifashion.talk.service,
	com.zua.ifashion.person.controller,
	com.zua.ifashion.person.service,
	com.zua.ifashion.util.ueditor.controller,
	com.zua.ifashion.util.mail,
	com.zua.ifashion.util.interceptor,
	com.zua.ifashion.person.util.websocket
"/>
	<!-- mvc:annotation-driven默认加载很多的参数绑定方法，比如json转换解析器， 如果使用mvc:annotation-driven不用配置上边的RequestMappingHandlerMapping和RequestMappingHandlerAdapter 
		实际开发时使用mvc:annotation-driven -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!--<context:property-placeholder location="classpath:mail/mail.properties" />-->
	<!--配置拦截器-->
	<mvc:interceptors>
		<!--  <bean class="cn.lzc.interceptor.CustomInterceptor"></bean>--><!--拦截所有请求-->

		<!-- <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/" /><&lt;!&ndash;配置了mapping 这个 将不再起作用&ndash;&gt;
            <bean class="cn.lzc.interceptor.CustomInterceptor"></bean>
        </mvc:interceptor>-->

		<!--<mvc:interceptor>-->
		<!--<mvc:mapping path="/hello" />&lt;!&ndash;配置拦截hello结尾的&ndash;&gt;-->
		<!--<bean class="cn.lzc.interceptor.CustomInterceptor"/>-->
		<!--</mvc:interceptor>-->

		<!-- 拦截器配置 -->
		<!-- 配置Token拦截器，防止用户重复提交数据 -->
		<mvc:interceptor>
			<mvc:mapping path="/**"/><!--这个地方时你要拦截得路径 我这个意思是拦截所有得URL-->
			<bean class="com.zua.ifashion.util.interceptor.TokenInterceptor"/><!--class文件路径改成你自己写得拦截器路径！！ -->
		</mvc:interceptor>



		<!--前台登录拦截器-->
		<!--<mvc:interceptor>-->
			<!--<mvc:mapping path="/user/**" />-->
			<!--<mvc:exclude-mapping path="/user/index.action"/>-->
			<!--<mvc:exclude-mapping path="/user/logincheck.action"/>-->
			<!--<mvc:exclude-mapping path="/user/register.action"/>-->
			<!--<mvc:exclude-mapping path="/getSysManageLoginCode.action"/>-->
			<!--<bean class="com.zua.ifashion.util.interceptor.UserLoginInterceptor"/>-->
		<!--</mvc:interceptor>-->
		<!--复制的时候报错是因为空格问题或注释问题，把注释和空格全删除-->
		<!--后台登录拦截器-->
		<mvc:interceptor>
			<mvc:mapping path="/admin/**"/>
			<mvc:exclude-mapping path="/getSysManageLoginCode.action"/>
			<mvc:exclude-mapping path="/admin/logincheck.action"/>
			<bean class="com.zua.ifashion.util.interceptor.AdminLoginInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/admin/addHandleArticle.action"/>
			<mvc:mapping path="/admin/updateHandleArticle.action"/>
			<mvc:mapping path="/admin/ajaxdeletearticle.action"/>
			<mvc:mapping path="/admin/addtag.action"/>
			<mvc:mapping path="/admin/updatehandletag.action"/>
			<mvc:mapping path="/admin/ajaxdeletetag.action"/>
			<mvc:mapping path="/admin/addhandleadmin.action"/>
			<mvc:mapping path="/admin/updatehandleadmin.action"/>
			<mvc:mapping path="/admin/ajaxdeleteadmin.action"/>
			<mvc:mapping path="/admin/addHandleArticle.action"/>
			<mvc:mapping path="/admin/updateHandleArticle.action"/>
			<mvc:mapping path="/admin/ajaxdeletearticle.action"/>
			<mvc:mapping path="/admin/addHandleTopic.action"/>
			<mvc:mapping path="/admin/ajaxdeletetopic.action"/>
			<mvc:mapping path="/admin/updateHandleTopic.action"/>
			<mvc:mapping path="/admin/addhandleuser.action"/>
			<mvc:mapping path="/admin/updatehandleuser.action"/>
			<mvc:mapping path="/admin/ajaxdeleteuser.action"/>
			<mvc:mapping path="/admin/updateadminpassword.action"/>
			<mvc:mapping path="/admin/updateAdminInfo.action"/>
			<!--<mvc:exclude-mapping path="/getSysManageLoginCode.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/logincheck.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/articlemanage.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/reviewmanage.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/complainmanage.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/usermanage.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/rolemanag.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/modulemanage.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/adminmanag.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/topicmanage.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/topicreviewmanage.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/system.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/person.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/systemlog.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/tagmanage.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/addtag.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/updatetag.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/updatearticle.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/addArticle.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/tagmanage.action"/>-->
			<!--<mvc:exclude-mapping path="/admin/tagmanage.action"/>-->
			<bean class="com.zua.ifashion.util.interceptor.LogRecordInterceptor"/>
		</mvc:interceptor>

		<!--<mvc:interceptor>-->
			<!--<mvc:mapping path="/user/**"/>-->
			<!--<bean class="com.zua.ifashion.person.util.websocket.SpringWebSocketHandlerInterceptor"/>-->
		<!--</mvc:interceptor>-->
	</mvc:interceptors>

</beans>
