<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.article.mapper.ArticleTypeMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.article.entity.ArticleType">
    <id column="articletypeId" jdbcType="INTEGER" property="articletypeId" />
    <result column="articletypeName" jdbcType="VARCHAR" property="articletypeName" />
  </resultMap>


  <!--根据文章类型名称查找文章-->
  <select id="selectArticleByArticletypeName" parameterType="string" resultType="com.zua.ifashion.article.entity.Article">
    SELECT * FROM article WHERE articletypeId IN
      (SELECT articletypeId FROM article_type
       WHERE articletypeName LIKE "%"#{articletypeName}"%")
  </select>

  <!--根据类型id查询文章-->
  <select id="selectArticleByTypeId" parameterType="int" resultType="com.zua.ifashion.article.entity.Article">
      SELECT * FROM article WHERE articleTypeId = #{articleTypeId}
  </select>
</mapper>