<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.article.mapper.ClothesTagImgMapper">
  <!--<resultMap id="BaseResultMap" type="com.zua.ifashion.article.entity.Complain">-->
    <!--<id column="id_complain" jdbcType="INTEGER" property="idComplain" />-->
    <!--<result column="review_id" jdbcType="INTEGER" property="reviewId" />-->
    <!--<result column="complain_userid" jdbcType="INTEGER" property="complainUserid" />-->
    <!--<result column="complained_userid" jdbcType="INTEGER" property="complainedUserid" />-->
  <!--</resultMap>-->
  <!--<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zua.ifashion.article.entity.Complain">-->
    <!--<result column="complain_reason" jdbcType="LONGVARCHAR" property="complainReason" />-->
  <!--</resultMap>-->

  <!--根据clothesTagId查询clothesTag-->
  <select id="selectTagImgByTagId" parameterType="int" resultType="com.zua.ifashion.article.entity.ClothesTagImg">
      SELECT * FROM clothes_tag_img WHERE clothesTagId = #{clothesTagId}
  </select>

    <!--查询所有tagImg实体数量-->
    <select id="selectAllTagImgCount" parameterType="int" resultType="int">
        SELECT count(*) FROM clothes_tag_img WHERE clothesTagId = #{clothesTagId}
    </select>

    <!--根据articleId查询文章-->
    <select id="selectArticleByArticleId" parameterType="int" resultType="com.zua.ifashion.article.entity.Article">
        SELECT a.* FROM article a,clothes_tag_img c WHERE c.articleId = #{articleId}
        AND a.articleId = c.articleId
    </select>

    <insert id="addTagImgSelective" parameterType="com.zua.ifashion.article.entity.ClothesTagImg">
        INSERT INTO clothes_tag_img
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clothesTagImgId != null">
                clothesTagImgId,
            </if>
            <if test="clothesTagId != null">
                clothesTagId,
            </if>
            <if test="clothesTagImgUrl != null">
                clothesTagImgUrl,
            </if>
            <if test="articleId != null">
                articleId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clothesTagImgId != null">
                #{clothesTagImgId},
            </if>
            <if test="clothesTagId != null">
                #{clothesTagId},
            </if>
            <if test="clothesTagImgUrl != null">
                #{clothesTagImgUrl},
            </if>
            <if test="articleId != null">
                #{articleId},
            </if>
        </trim>
    </insert>
</mapper>