.w1180{width:1180px;margin:0 auto;}
.partB{width:320px;}
.partA{width:820px;}
.mt40{margin-top:40px;}
.mt30{margin-top:30px;}
.main-wrapper{background-color:#fff;}
/*logo 登录 注册*/
.logoAndlogin .logo img {
	height: 90px !important;
	width: 950px !important;
}
.logoAndlogin{padding:28px 0 30px 0;position:relative;background-color:#fff;}
.logoAndlogin .logo{text-align:center;}
.logoAndlogin .login{position:absolute;right:12px;bottom:12px;font-size:14px;text-align:right;word-spacing:6px;}
.logoAndlogin .login .u{color:#ba9e66;border-bottom:1px solid #ba9e66;}
.logoAndlogin .login .u:hover{border-bottom:0 none;}
/*nav search*/
.navSearch{min-width:1180px;position:relative;z-index:3;background-color:#000;}
.navSearch .nav1{height:120px;padding-left:12px;}
.navSearch .navBg{width:100%;height:60px;background-color:#fff;position:absolute;left:0;bottom:0;}
.navSearch .nav1 a{float:left;line-height:60px;color:#fff;font-size:18px;margin-right:68px;}
.navSearch .nav1 .searchBt,.navChilren li .one a,.navSearch .search .mainbtn,.navSearch .search .closeSearchbtn{}
.navSearch .nav1 .searchBt{background-position:-576px 50%;width:25px;height:60px;margin:0;position:absolute;float:none;top:0;left:980px;}
.navSearch .nav1 a:hover{
	color:#ba9e66;
}
.navSearch .nav1 a.here{
	color:#ba9e66;
}
.newtip{width:24px;height:16px;display:inline-block;position:absolute;left: 42px;top: -7px;}

.navChilren{height:60px;width:1180px;padding:15px 0;line-height:30px;font-size:14px;position:absolute;left:50%;bottom:0;margin-left:-590px;}
.navChilren ul{padding-left:12px;}
.navChilren .one{position:relative;float:left;}
.navChilren .one span,.sideNav .style_show{display:none;width:130px;height:130px;background-repeat:no-repeat;position:absolute;left:0;top:90%;}
.navChilren .one a:hover span{display:block;}
.navChilren li{display:none;}
.navChilren li:first-child{display:block;}
.navChilren li a{float:left;margin-right:48px;cursor:pointer;position:relative;}
.navChilren li .oneA a{padding-left:25px;background-position:0 50%;}
.navChilren li .oneB a{padding-left:17px;background-position:-120px 50%;}
.navChilren li .oneC a{padding-left:17px;background-position:-120px 50%;}
.navChilren li .oneD a{padding-left:17px;background-position:-120px 50%;}
.navChilren li .oneA a:hover span{background-position:0 0;}
.navChilren li .oneB a:hover span{background-position:0 -260px;}
.navChilren li .oneC a:hover span{background-position:0 -780px;}
.navChilren li .oneD a:hover span{background-position:0 -520px;}
.navChilren li .hotLink{width:362px;height:30px;float:right;}
.navChilren li .hotLink a{color:#ba9e66;}
.navChilren li .hotLink a:hover{text-decoration:underline;}

.navSearch .search{height:0px;position:absolute;left:50%;top:0;margin-left:-590px;overflow:hidden;}
.navSearch .search .mainsearch{height:60px;padding:15px 0;background-color:#000;}
.navSearch .search .main_input{height:30px;width:930px;border:0;padding:0 15px;color:#ccc;font-size:14px;}
.navSearch .search .mainbtn{background-position:-576px 50%;width:25px;height:60px;margin:0;border:0;position:absolute;left:980px;top:0;background-color:#000;cursor:pointer;}
.navSearch .search .closeSearchbtn{background-position:-554px 50%;width:16px;height:60px;margin:0;border:0;position:absolute;left:1022px;top:0;background-color:#000;cursor:pointer;}
.navSearch .search .c1_se_2_c{width:930px;padding:0 15px;position:absolute;left:0;top:45px;}
.hotpro { color:#a2a0a0;height:60px;line-height:60px;font-size:14px;padding-left:12px;overflow:hidden;background-color:#fff;}
.hotpro a {white-space: nowrap;padding-right:18px;}

.c1_se_2_c {display: none;background-color: rgb(255, 255, 255);border: 1px solid #cccbcb;left: -1px;max-height: 165px;overflow: auto;position: absolute;top: 28px;width: auto;right:-85px; zoom:1;z-index: 100;}
.c1_se_2_c div {color: #000000;cursor: pointer;font: 12px/35px arial;height: 35px;text-indent: 1em;width: 100%;overflow: hidden;}
.c1_se_2_c div:hover{background-color:#f6f5f5;}

