@charset "utf-8";
    .divcss5:hover{cursor:pointer} 
    .divcss5:hover a.now{cursor:pointer; position:absolute;bottom:0;left:0; display:block;color:#FFF;width:554px; height:36px; line-height:36px; 
    background:#000;filter:alpha(opacity=60);-moz-opacity:0.5;opacity: 0.5;} 
    /* 设置显示文字定位位置，背景半透明 */ /* CSS Document */

