body {
    background-color: #fff;
}

.clearfix-a {
    *zoom:1;
}

.clearfix-a:after {
    display: block;
    content: "";
    height: 0;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.dispb {
    display: block;
}

.dispn {
    display: none;
}

.search-for {
    width: 1152px;
    margin: 0 auto;
}

.search-for h4 {
    line-height: 50px;
    font-size: 12px;
    color: #666;
    vertical-align: middle;
    font-weight: normal;
}

.search-for h4 .prefer-category {
    font-weight: bold;
}

.search-for .all-categories {
    width: 180px;
}

.all-categories h6 {
    font-size: 14px;
    line-height: 24px;
    color: #000;
    vertical-align: top;
}

.all-categories dl {
    font-size: 14px;
}

.all-categories dl dt {
    line-height: 26px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.all-categories dl dd ul li:hover {
    background-color: rgba(0, 0, 0, .7);
}

.all-categories dl dd ul li:hover a {
    color: #fff;
    display: block;
}

.all-categories dl dd ul li.active {
    background-color: rgba(0, 0, 0, .7);
}

.all-categories dl dd ul li.active a {
    color: #fff;
}

.all-categories dl dt .icon {
    background-image: url(http://static.idx.com.cn/2017/images/spirite.png);
    background-position: 2px -3px;
    display: inline-block;
    width: 16px;
    height: 10px;
}

.all-categories dl dd {
    font-size: 12px;
    color: #666;
}

.all-categories dl dd ul {
    width: 160px;
    display: none;
}

.all-categories dl dd ul li {
    padding-left: 16px;
    line-height: 22px;
    vertical-align: middle;
    cursor: pointer;
}

.all-categories dl dd ul li.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.search-for .all-ctn {
    width: 972px;
}

.all-ctn .category-options dl {
    border: 1px solid #dfdfdf;
    margin-top: -1px;
}

.category-options .options-prefer {
    background-color: #eaeceb;
    line-height: 54px;
    vertical-align: middle;
    position: relative;
}

.options-prefer dt {
    float: left;
    padding-left: 14px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.options-prefer dt .prefer-clear {
    position: absolute;
    right: 24px;
    color: #999;
    font-size: 12px;
    cursor: pointer;
}

.options-prefer dt .prefer-clear:hover {
    color: #ff6461;
}

.options-prefer dd {
    display: inline-block;
    padding: 0 8px 0 10px;
    line-height: 32px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 16px;
    cursor: pointer;
}

.options-prefer dd .clear {
    float: right;
    font-size: 13px;
    padding-left: 8px;
}

.category-options .option {
    line-height: 50px;
    font-size: 14px;
}

.category-options .option dt {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: #000;
}

.category-options .option dd {
    float: left;
    padding-left: 12px;
    padding-right: 34px;
    color: #000;
    cursor: pointer;
}

.category-options .option dd:hover {
    color: #ff6461;
}

.all-ctn .sort-methods {
    background-color: #f5f7f6;
    line-height: 50px;
    vertical-align: middle;
    font-size: 14px;
    color: #666;
    margin-top: 15px;
}

.sort-methods span {
    padding: 0 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sort-methods span .icon {
    display: inline-block;
    width: 16px;
    height: 10px;
    background-image: url(http://static.idx.com.cn/2017/images/spirite.png);
    background-position: 45px -3px;
}

.sort-methods span.active {
    font-weight: bold;
    color: #000;
}

.sort-methods span.asc .icon {
    background-position: 45px -20px;
}

.sort-methods span.des .icon {
    background-position: 45px -36px;
}

.shopkeeper {
    margin-top: 20px;
    width: 162px;
}

.shopkeeper a {
    display: block;
    margin-bottom: 160px;
}
.all-ctn .search-results {
    width: 990px;
    margin-top: 38px;
    margin-bottom: 38px;
}
.picture{
	width:1126px; margin-top:30px;
	}
.picture ul{
	width:1120px; margin:0px auto;  overflow: auto; zoom: 1;
	}
.picture ul li {
    width: 280px;
    height: 368px;
    position: relative;
    float: left;
	overflow:hidden;
}
.picture ul li img:hover{opacity: 0.9;}
.picture ul li .search-item{
    width: 280px;
    height: 334px;
	margin-left:auto;
	margin-right:auto;
}
.picture ul li .search-item .item-pic:hover{
    box-shadow:0 0 15px #ccc;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    
	z-index:10;
}
.search-item:hover .item-s-pic {
    height: 266px;
}
.search-item:hover .item-s-pic a img{
    margin-top: 0px;
}



.search-item:hover .item-options {
    display: block;
}

.search-item:hover .options-arrow {
    display: block;
}

.search-item:hover .custom-now {
    opacity: 1;
    transform: translateY(0);
}

.search-item .item-pic{
    width: 266px;
    height: 266px;
    overflow: hidden;
    position: relative;
	text-align:center;
    left: 7px;
    top: 5px;
}
.rby{position: absolute;
left:-266px;
top: 0;
width: 266px;
height: 266px;
background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
transform: skewx(-25deg);
-o-transform: skewx(-25deg);
-moz-transform: skewx(-25deg);
-webkit-transform: skewx(-25deg);
}
.search-item .item-pic:hover .rby{
    left:266px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.item-bg-pic a img {
    margin-top: -16px;
}

.item-pic a img {
    width: 100%;
}

.item-pic .item-mark {
    position: absolute;
    left: -2px;
    top: 0px;
    font-size: 12px;
    width: 40px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.item-mark.new {
    background-color: #78dc7d;
}

.item-mark.new:after {
    content: "NEW";
}
.item-mark.sale {
    background-color: #ff6461;
}

.item-mark.sale:after {
    content: "SALE";
}

.item-mark.hot-sale {
    background-color: #ff6461;
}

.item-mark.hot-sale:after {
    content: "HOT";
}
.search-item .item-txt {
    line-height: 60px;
    vertical-align: middle;
    font-size: 14px;
    *zoom:1;
    margin-top: 30px;
    width: 266px;
    margin-left: 7px;
    opacity: 1;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.search-item:hover .item-txt {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}
.search-item .item-txt:after{
    display: block;
    content: "";
    height: 0;
    clear: both;
}
.item-txt{
	margin-top:5px;
	}

.item-txt .item-scrible {
    font-size: 14px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#666666;
    word-spacing: 0.1rem;
    float: left;
    font-weight: bold;
}
.tac {
	float:left;
	margin-left:5px;
	}
.item-txt .price {
    color:#ff6461;
    float: right;
    vertical-align: middle;
}

.search-item .item-options {
    height: 52px;
    width: 228px;
    overflow: hidden;
    display: none;
    position: relative;
	margin:0px auto;
}

.item-options ul {
    width: 560px; height:44px; position:absolute; top:2px;  left:0px;
}

.item-options ul li {
    width: 54px;
    height: 42px;
    overflow: hidden;
    border: 1px solid #FFF;
    float: left;
	text-align:center;
}

.item-options ul li.active {
    border-color: #ff6461;
}

.item-options ul li img {
	width:44px;
	height:42px;
    cursor: pointer;
}

.search-item .options-arrow {
    position: relative;
    display: none;
}

.search-item .options-arrow span {
    position: absolute;
    display: block;
    vertical-align: middle;
    width: 24px;
    line-height: 46px;
    top: -52px;
    cursor: pointer;
}

.search-item .options-arrow span i {
    display: inline-block;
    width: 15px;
    height: 13px;

    text-align: center;
    /*background-image: url(../images/spirite.png);*/
    background-image: url(http://static.idx.com.cn/2017/images/spirite.png);
}

.options-arrow .towards-left {
    left: 0;
	text-align:left;
}

.options-arrow .towards-right {
    right: 0;
	text-align:right;
}

.options-arrow .towards-left .arrow-left {
    background-position: 0 -18px;
    margin-left: 4px;
}

.options-arrow .towards-right .arrow-right {
    background-position: 0 -36px;
	margin-right: 4px;
}

/*.search-item .custom-now {
    display: none;
}*/

.custom-now {
	height:60px;
    line-height: 60px;
    background-color: #dddddd;
    font-size: 18px;
    display: table;
    text-align: center;
    width: 266px;
    position: absolute;
    left: 7px;
    top: 278px;
    font-weight: bold;
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
}

.custom-now a{ 
    font-size: 18px; 
    display: inline-block; 
    width: 100%; 
    height: 100%;
}
.custom-now:hover a{
    background-color: #ff6461; 
    color: #fff;
}

