<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.talk.mapper.DiscussMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.talk.entity.Discuss">
    <id column="discussId" jdbcType="INTEGER" property="discussId" />
    <result column="topicId" jdbcType="INTEGER" property="topicId" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="discussDate" jdbcType="TIMESTAMP" property="discussDate" />
    <result column="reviewNum" jdbcType="INTEGER" property="reviewNum" />
    <result column="lookNum" jdbcType="INTEGER" property="lookNum" />
    <result column="discussTitle" jdbcType="VARCHAR" property="discussTitle" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zua.ifashion.talk.entity.Discuss">
    <result column="discussContent" jdbcType="LONGVARCHAR" property="discussContent" />
  </resultMap>


  <!--添加讨论-->
  <!--int addDiscuss(Discuss discuss);-->
  <insert id="addDiscuss" parameterType="Discuss">
    insert into discuss (discussId,topicId,userId,
    discussDate,reviewNum,lookNum,discussContent,discussTitle) values(#{discussId},
    #{topicId},#{userId},#{discussDate},#{reviewNum},#{lookNum},
    #{discussContent},#{discussTitle})
  </insert>

  <!--//添加讨论-->
  <!--int addDiscussSelective(Discuss discuss);-->
  <insert id="addDiscussSelective" parameterType="Discuss">
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        topicId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="topicContent != null">
        topicContent,
      </if>
      <if test="topicImgurl != null">
        topicImgurl,
      </if>
      <if test="topicPeople != null">
        topicPeople,
      </if>
      <if test="lookNum != null">
        lookNum,
      </if>
      <if test="topicStart != null">
        topicStart,
      </if>
      <if test="topicEnd != null">
        topicEnd,
      </if>
      <if test="discussTitle != null">
        discussTitle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="discussId != null">
        #{discussId},
      </if>
      <if test="topicId != null">
        #{topicId},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="discussDate != null">
        #{discussDate},
      </if>
      <if test="reviewNum != null">
        #{reviewNum},
      </if>
      <if test="lookNum != null">
        #{lookNum},
      </if>
      <if test="discussContent != null">
        #{discussContent},
      </if>
      <if test="discussTitle != null">
        #{discussTitle},
      </if>
    </trim>
  </insert>

  <!--//删除讨论-->
  <!--int deleteDiscuss(Integer discussId);-->
  <delete id="deleteDiscuss" parameterType="int">
    delete from discuss where discussId=#{discussId}
  </delete>

  <!--//修改讨论-->
  <!--int updateDiscuss(Discuss discuss);-->
  <update id="updateDiscuss" parameterType="Discuss">
    update discuss set topicId=#{topicId},
    userId=#{userId},
    discussDate=#{discussDate},
    reviewNum=#{reviewNum},
    lookNum=#{lookNum},
    discussContent=#{discussContent},
    discussTitle=#{discussTitle}
  </update>

  <!--//修改讨论不为空字段-->
  <!--int updateDiscussSelective(Discuss discuss);-->
  <update id="updateDiscussSelective" parameterType="Discuss">
    update user
    <set>
      <if test="topicId != null">
        topicId = #{topicId},
      </if>
      <if test="userId != null">
        userId = #{userId},
      </if>
      <if test="discussDate != null">
        discussDate = #{discussDate},
      </if>
      <if test="reviewNum != null">
        reviewNum = #{reviewNum},
      </if>
      <if test="lookNum != null">
        lookNum = #{lookNum},
      </if>
      <if test="discussContent != null">
        discussContent = #{discussContent},
      </if>
      <if test="discussTitle != null">
        discussTitle = #{discussTitle},
      </if>
    </set>
    where topicId = #{topicId}
  </update>

  <!--//通过id查询讨论-->
  <!--Discuss selectDiscussByDiscussId(Integer discussId);-->
  <select id="selectDiscussByDiscussId" parameterType="int" resultType="Discuss">
    select * from discuss where discussId =#{discussId}
  </select>

  <!--//通过用户id来查询讨论-->
  <!--List<Discuss> selectDiscussByUserId(Integer userId);-->
  <select id="selectDiscussByUserId" parameterType="int" resultType="Discuss">
    select * from discuss where userId =#{userId}
  </select>

  <!--//通过话题id来查询讨论-->
  <!--List<Discuss> selectDiscussByTopicId(Integer topicId);-->
  <select id="selectDiscussByTopicId" parameterType="int" resultType="Discuss">
    select * from discuss where topicId =#{topicId}
  </select>

  <!--//查询讨论评论量-->
  <!--int selectReviewNumByDiscussId(Integer discussId);-->
  <select id="selectReviewNumByDiscussId" parameterType="int">
    select reviewNum from discuss where discussId=#{discussId}
  </select>

  <!--//查询讨论浏览量-->
  <!--int selectLookNumByDiscussId(Integer discussId);-->
  <select id="selectLookNumByDiscussId" parameterType="int" resultType="int">
    select lookNum from discuss where discussId=#{discussId}
  </select>

  <!--//查询比某个时间晚的所有讨论-->
  <!--List<Discuss> selectDiscussByEDiscussDate(Date discussDate);-->
  <select id="selectDiscussByEDiscussDate" parameterType="Date" resultType="Discuss">
    select * from topic where  discussDate &gt; #{discussDate}
  </select>

  <!--//查询比某个时间早的所有讨论-->
  <!--List<Discuss> selectDiscussByLDiscussDate(Date discussDate);-->
  <select id="selectDiscussByLDiscussDate" parameterType="Date" resultType="Discuss">
    select * from topic where  discussDate &lt; #{discussDate}
  </select>

  <!--//查询时间段内的讨论-->
  <!--List<Discuss> selectAllDiscuss(Date start,Date end);-->
  <select id="selectAllDiscuss" resultType="Discuss">
    select * from discuss where discussDate between #{0} and #{1}
  </select>
  <!--马虎-->
  <!--//查询某个话题的讨论数量-->
  <!--int getDiscussCountByTopicId(Integer topicId);-->
  <select id="getDiscussCountByTopicId" parameterType="int">
    select count(*) from discuss where topicId=#{topicId}
  </select>

  <!--// 查询所有话题数量-->
  <!--int getAllDiscussCount();-->
  <select id="getAllDiscussCount"  resultType="int">
    select count(*) from discuss
  </select>

  <!--//查询所有讨论-->
  <!--List<Discuss> getAllDiscuss();-->
  <select id="getAllDiscuss" resultType="Discuss">
    select * from discuss
  </select>

  <!--//查询某个用户的讨论数量-->
  <!--int selectDiscussByUserIdCount(Integer userId);-->
  <select id="selectDiscussByUserIdCount" resultType="int">
    select count(*) from discuss where userId=#{0} and YEARWEEK(date_format(discussDate,'%Y-%m-%d')) = YEARWEEK(now())
  </select>

  <!--//查询某个用户今日讨论数量-->
  <!--int selectDiscussByUserIdCountDay(Integer userId,Date date1);-->
  <select id="selectDiscussByUserIdCountDay" resultType="int">
    select count(*) from discuss where to_days(discussDate) = to_days(now()) AND userId=#{userId};
  </select>

  <!--//查询讨论的用户ID-->
  <!--List<Integer> selectUserIdInDiscuss();-->
  <select id="selectUserIdInDiscuss" resultType="int">
    select distinct(userId) from discuss
  </select>

  <!--//查询用户讨论数量并排序-->
  <!--List<UserDiscuss> selectDiscussCount();-->


  <!--根据discussDate和lookNum来查询最新热门讨论-->
  <select id="selectDiscussByDiscussDateAndLookNum" resultType="Discuss">
    select * from discuss order by lookNum DESC
  </select>



</mapper>