<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.talk.mapper.DiscussReplyMapper">
  <resultMap id="selectAllreplyUserMap" type="com.zua.ifashion.talk.vo.DiscussReplyUser">
    <id column="discussreplyId" property="discussreplyId" />
    <result column="discussId"  property="discussId" />
    <result column="userId"  property="userId" />
    <result column="discussreplyZan"  property="discussreplyZan" />
    <result column="discussreplyDate"  property="discussreplyDate" />
    <result column="discussreplyContent" property="discussreplyContent" />
    <result column="reportState" property="reportState" />
    <result column="username" property="username"></result>
    <result column="userImgurl" property="userImgurl"></result>
    <result column="rankName" property="rankName"></result>
  </resultMap>


  <!--//添加评论-->
  <!--int addDiscussReply(DiscussReply discussReply);-->
  <insert id="addDiscussReply" parameterType="DiscussReply">
    insert into discuss_reply (discussreplyId, discussId, userId,
    discussreplyZan, discussreplyDate,discussreplyContent)
    values (#{discussreplyId}, #{discussId}, #{userId},
    #{discussreplyZan}, #{discussreplyDate},#{discussreplyContent})
  </insert>

  <!--//添加评论-->
  <!--int addDiscussReplySelective(DiscussReply discussReply);-->
  <insert id="addDiscussReplySelective" parameterType="DiscussReply">
    insert into discuss_reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        topicId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="topicContent != null">
        topicContent,
      </if>
      <if test="topicImgurl != null">
        topicImgurl,
      </if>
      <if test="topicPeople != null">
        topicPeople,
      </if>
      <if test="lookNum != null">
        lookNum,
      </if>
      <if test="topicStart != null">
        topicStart,
      </if>
      <if test="topicEnd != null">
        topicEnd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="discussreplyId != null">
        #{discussreplyId},
      </if>
      <if test="discussId != null">
        #{topicId},
      </if>
      <if test="discussId != null">
        #{userId},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="discussreplyZan != null">
        #{discussreplyZan},
      </if>
      <if test="discussreplyDate != null">
        #{discussreplyDate},
      </if>
      <if test="discussreplyContent != null">
        #{discussreplyContent},
      </if>
    </trim>
  </insert>

  <!--//删除评论-->
  <!--int deleteDiscussReply(Integer discussreplyId);-->
  <delete id="deleteDiscussReply" parameterType="int">
    delete from discuss_reply where discussreplyId = #{discussreplyId}
  </delete>

  <!--//修改评论-->
  <!--int updateDiscussReply(DiscussReply discussReply);-->
  <update id="updateDiscussReply" parameterType="DiscussReply">
    update discuss_reply
    set discussId = #{discussId},
    userId = #{userId},
    discussreplyZan = #{discussreplyZan},
    discussreplyDate = #{discussreplyDate},
    discussreplyContent=#{discussreplyContent}
    where discussreplyId = #{discussreplyId}
  </update>

  <!--//修改话题不为空字段-->
  <!--int updateDiscussReplySelective(DiscussReply discussReply);-->
  <update id="updateDiscussReplySelective" parameterType="DiscussReply">
    update discuss_reply
    <set>
      <if test="discussId != null">
        discussId = #{discussId},
      </if>
      <if test="userId != null">
        userId = #{userId},
      </if>
      <if test="discussreplyZan != null">
        discussreplyZan = #{discussreplyZan},
      </if>
      <if test="discussreplyDate != null">
        discussreplyDate = #{discussreplyDate},
      </if>
      <if test="discussreplyContent != null">
        discussreplyContent = #{discussreplyContent},
      </if>
    </set>
    where discussreplyId = #{discussreplyId}
  </update>

  <!--//通过id查询评论-->
  <!--int selectDiscussReplyByDiscussreplyId(Integer discussreplyId);-->
  <select id="selectDiscussReplyByDiscussreplyId" parameterType="int" resultType="DiscussReply">
    select * from discuss_reply where discussreplyId =#{discussreplyId}
  </select>

  <!--//通过用户id来查询评论-->
  <!--List<DiscussReply> selectDiscussReplyByUserId(Integer userId);-->
  <select id="selectDiscussReplyByUserId" parameterType="int" resultType="DiscussReply">
    select * from discuss_reply where userId =#{userId}
  </select>

  <!--&lt;!&ndash;//查询某个用户的评论数量&ndash;&gt;-->
  <!--&lt;!&ndash;int getDiscussReplyCountByUserId(Integer userId);&ndash;&gt;-->
  <!--<select id="getDiscussReplyCountByUserId" parameterType="int" resultType="int">-->
    <!--select count(*) from discuss_reply where userId =#{userId}-->
  <!--</select>-->

  <!--//通过discussId来查询评论-->
  <!--List<DiscussReply> selectDiscussReplyByDiscussId(Integer discussId);-->
  <select id="selectDiscussReplyByDiscussId" parameterType="int" resultType="DiscussReply">
    select * from discuss_reply where discussId =#{discussId}
  </select>

  <!--//通过discussId来查询评论用户详情-->
  <!--List<DiscussReplyUser> selectDiscussReplyUByDiscussId(Integer discussId);-->
  <select id="selectDiscussReplyUByDiscussId" parameterType="int" resultMap="selectAllreplyUserMap">
    select discuss_reply.*,user.username,user.userImgurl,rank.rankName from discuss_reply,user,rank where discussId =#{discussId} and discuss_reply.userId=user.userId and user.rankId=rank.rankId
  </select>

  <!--//查询某篇讨论的所有评论数量-->
  <!--int selectDiscussReplyCountByDiscussId(Integer discussId);-->
  <select id="selectDiscussReplyCountByDiscussId" parameterType="int" resultType="int">
    select count(*) from discuss_reply where discussId =#{discussId}
  </select>

  <!--//查询点赞量-->
  <!--int selectDiscussReplyByDiscussReplyZan(Integer discussId);-->
  <select id="selectDiscussReplyByDiscussReplyZan" parameterType="int">
    select discussreplyZan from discuss_reply where discussId=#{discussId}
  </select>

  <!--//查询回复内容-->
  <!--int selectDiscussReplyByDiscussReplyContent(Integer discussId);-->
  <select id="selectDiscussReplyByDiscussReplyContent" parameterType="int">
    select discussreplyContent from discuss_reply where discussId=#{discussId}
  </select>

  <!--//根据日期查询回复-->
  <!--List<DiscussReply> selectDiscussReplyByDiscussreplyDate(Date discussreplyDate);-->
  <select id="selectDiscussReplyByEDiscussReplyContent" parameterType="int" resultType="DiscussReply">
    select * from discuss_reply where discussreplyDate &lt; #{discussreplyDate}
  </select>

  <select id="selectDiscussReplyByLDiscussReplyContent" parameterType="int" resultType="DiscussReply">
    select * from discuss_reply where discussreplyDate &gt; #{discussreplyDate}
  </select>

  <!--//查询所有回复-->
  <!--List<DiscussReply> getAllDiscussReply();-->
  <select id="getAllDiscussReply"  resultType="DiscussReply">
    select * from discuss_reply
  </select>

  <!--//查询所有回复数量-->
  <!--int getAllDiscussReplyCount();-->
  <select id="getAllDiscussReplyCount"  resultType="int">
    select count(*) from discuss_reply
  </select>

  <!--//查询某个讨论的所有回复数量-->
  <!--int selectDiscussReplyCountByDiscussId(Integer discussId);-->
  <!--<select id="selectDiscussReplyCountByDiscussId" resultType="int" parameterType="int">-->
    <!--select count(*) from discuss_reply where discussId=#{discussId}-->
  <!--</select>-->

  <!--//查询某个话题的所有回复-->
  <!--List<DiscussReply> selectDiscussReplyByTopicId(Integer topicId);-->
  <select id="selectDiscussReplyByTopicId" parameterType="int" resultType="DiscussReply">
    select * from discuss_reply where topicId=#{topicId}
  </select>


  <!--//查询某个话题的所有回复数量-->
  <!--int selectDiscussReplyCountByTopicId(Integer topicId);-->
  <select id="selectDiscussReplyCountByTopicId"  resultType="int">
    select count(*) from discuss_reply where topicId=#{topicId}
  </select>

  <!--查询讨论回复最多的讨论并排序-->
  <select id="selectDiscussId" resultType="com.zua.ifashion.talk.vo.CountDiscussId">
    select discussId,count(discussId) from discuss_reply group by discussId order by count(discussid) DESC
  </select>
</mapper>