<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.talk.mapper.ReplyReplyQuestionMapper">

  <resultMap id="ReplyReplyQuestionUserMap" type="com.zua.ifashion.talk.vo.RRQuestionUser">
    <id column="replyReplyQuesId" property="replyReplyQuesId"></id>
    <result column="replyquestionId" property="replyquestionId"></result>
    <result column="userId" property="userId"></result>
    <result column="replyReplyQuesDate" property="replyReplyQuesDate"></result>
    <result column="replyReplyQuesContent" property="replyReplyQuesContent"></result>
    <result column="hreplyReplyQuesId" property="hreplyReplyQuesId"></result>
    <association property="user" javaType="User">
      <result column="username" property="username"></result>
      <result column="userImgurl" property="userImgurl"></result>
    </association>

  </resultMap>





  <!--//添加回复-->
  <!--int addReplyReplyQuestion(ReplyReplyQuestion replyReplyQuestion);-->
  <insert id="addReplyReplyQuestion" parameterType="com.zua.ifashion.talk.entity.ReplyReplyQuestion">
    insert into reply_replyquestion (replyReplyQuesId,replyquestionId,userId,replyReplyQuesDate,
    replyReplyQuesContent,hreplyReplyQuesId) values(#{replyReplyQuesId},
    #{replyquestionId},#{userId},#{replyReplyQuesDate},
    #{replyReplyQuesContent},#{hreplyReplyQuesId})
  </insert>

  <!--//添加回复-->
  <!--int addReplyReplyQuestionSelective(ReplyReplyQuestion replyReplyQuestion);-->
  <insert id="addReplyReplyQuestionSelective" parameterType="com.zua.ifashion.talk.entity.ReplyReplyQuestion">
    insert into reply_replyquestion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="replyReplyQuesId != null">
        replyReplyQuesId,
      </if>
      <if test="replyquestionId != null">
        replyquestionId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="replyReplyQuesDate != null">
        replyReplyQuesDate,
      </if>
      <if test="replyReplyQuesContent != null">
        replyReplyQuesContent,
      </if>
      <if test="hreplyReplyQuesId != null">
        hreplyReplyQuesId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="replyReplyQuesId != null">
        #{replyReplyQuesId},
      </if>
      <if test="replyquestionId != null">
        #{replyquestionId},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="replyReplyQuesDate != null">
        #{replyReplyQuesDate},
      </if>
      <if test="replyReplyQuesContent != null">
        #{replyReplyQuesContent},
      </if>
      <if test="hreplyReplyQuesId != null">
        #{hreplyReplyQuesId},
      </if>
    </trim>
  </insert>

  <!--//删除回复-->
  <!--int deleteReplyReplyQuestion(Integer replyReplyQuesId);-->
  <delete id="deleteReplyReplyQuestion" parameterType="int">
    delete from reply_replyquestion where replyReplyQuesId=#{replyReplyQuesId}
  </delete>

  <!--//修改回复-->
  <!--int updateReplyReplyQuestion(ReplyReplyQuestion replyReplyQuestion);-->
  <update id="updateReplyReplyQuestion" parameterType="com.zua.ifashion.talk.entity.ReplyReplyQuestion">
    update reply_replyquestion set replyquestionId=#{replyquestionId},
    userId=#{userId},
    replyReplyQuesDate=#{replyReplyQuesDate},
    replyReplyQuesContent=#{replyReplyQuesContent},
    hreplyReplyQuesId=#{hreplyReplyQuesId}

  </update>

  <!--//修改回复不为空字段-->
  <!--int updateReplyReplyQuestionSelective(ReplyReplyQuestion replyReplyQuestion);-->
  <update id="updateReplyReplyQuestionSelective" parameterType="com.zua.ifashion.talk.entity.ReplyReplyQuestion">
    update reply_replyquestion
    <set>
      <if test="replyquestionId != null">
        replyquestionId = #{replyquestionId},
      </if>
      <if test="userId != null">
        userId = #{userId},
      </if>
      <if test="replyReplyQuesDate != null">
        replyReplyQuesDate = #{replyReplyQuesDate},
      </if>
      <if test="replyReplyQuesContent != null">
        replyReplyQuesContent = #{replyReplyQuesContent},
      </if>
      <if test="hreplyReplyQuesId != null">
        #{hreplyReplyQuesId},
      </if>
    </set>
    where replyReplyQuesId = #{replyReplyQuesId}
  </update>

  <!--//通过id查询回复-->
  <!--ReplyReplyQuestion selectReplyReplyQuestionByReplyReplyQuesId(Integer replyReplyQuesId);-->
  <select id="selectReplyReplyQuestionByReplyReplyQuesId" parameterType="int" resultType="com.zua.ifashion.talk.entity.ReplyReplyQuestion">
    select * from reply_replyquestion where replyReplyQuesId =#{replyReplyQuesId}
  </select>

  <!--//通过用户id来查询回复-->
  <!--List<ReplyReplyQuestion> selectReplyReplyQuestionByUserId(Integer userId);-->
  <select id="selectReplyReplyQuestionByUserId" parameterType="int" resultType="com.zua.ifashion.talk.entity.ReplyReplyQuestion">
    select * from reply_replyquestion where userId =#{userId}
  </select>

  <!--//通过回答id来查询回复-->
  <!--List<ReplyReplyQuestion> selectReplyReplyQuestionByReplyquestionId(Integer replyquestionId);-->
  <select id="selectReplyReplyQuestionByReplyquestionId" parameterType="int" resultType="com.zua.ifashion.talk.entity.ReplyReplyQuestion">
    select * from reply_replyquestion where replyquestionId =#{replyquestionId}
  </select>

  <!--//通过回答id来查询回复用户信息-->
  <!--List<RRQuestionUser> selectReplyReplyQuestionUserByReplyquestionId(Integer replyquestionId);-->
  <select id="selectReplyReplyQuestionUserByReplyquestionId" parameterType="int" resultMap="ReplyReplyQuestionUserMap">
    select reply_replyquestion.*,user.userImgurl,user.username from reply_replyquestion,user where replyquestionId =#{replyquestionId} and reply_replyquestion.userId=user.userId
  </select>

  <!--//通过回答id来查询回复数量-->
  <!--int selectReplyReplyQuestionCountByReplyquestionId(Integer replyquestionId);-->
  <select id="selectReplyReplyQuestionCountByReplyquestionId" parameterType="int" resultType="int">
    select count(*) from reply_replyquestion where replyquestionId =#{replyquestionId}
  </select>

  <!--//通过时间来查询回复-->
  <!--List<ReplyReplyQuestion> selectReplyReplyQuestionByEReplyReplyQuesDate(Date replyReplyQuesDate);-->

  <!--List<ReplyReplyQuestion> selectReplyReplyQuestionByLReplyReplyQuesDate(Date replyReplyQuesDate);-->
  <select id="selectReplyReplyQuestionByEReplyReplyQuesDate" resultType="com.zua.ifashion.talk.entity.ReplyReplyQuestion" parameterType="Date">
    select * from reply_replyquestion where replyReplyQuesDate &lt; #{replyReplyQuesDate}
  </select>

  <select id="selectReplyReplyQuestionByLReplyReplyQuesDate" resultType="com.zua.ifashion.talk.entity.ReplyReplyQuestion" parameterType="Date">
    select * from reply_replyquestion where replyReplyQuesDate &gt; #{replyReplyQuesDate}
  </select>
  
  <!--根据回复复id来查询回复复-->
  <!--<select id="selectRRQuestionByHReplyReplyQuesId" parameterType="int" resultType="ReplyReplyQuestionUserMap">-->
    <!--select reply_replyquestion.*,user.userImgurl,user.username from reply_replyquestion,user  where hreplyReplyQuesId=#{hreplyReplyQuesId}-->
  <!--</select>-->

  <select id="selectReplyReplyQuestionTop" resultType="com.zua.ifashion.talk.entity.ReplyReplyQuestion">
    select * from reply_replyquestion order by replyReplyQuesDate DESC limit 1
  </select>









</mapper>