<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.talk.mapper.TopicMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.talk.entity.Topic">
    <id column="topicId" jdbcType="INTEGER" property="topicId" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="topicImgurl" jdbcType="VARCHAR" property="topicImgurl" />
    <result column="topicPeople" jdbcType="INTEGER" property="topicPeople" />
    <result column="lookNum" jdbcType="INTEGER" property="lookNum" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zua.ifashion.talk.entity.Topic">
    <result column="topicContent" jdbcType="LONGVARCHAR" property="topicContent" />
  </resultMap>

  <!--添加话题-->
  <!--int addTopic(Topic topic);-->

  <insert id="addTopic" parameterType="Topic">
    insert into topic (topicId,userId,topicContent,topicImgurl,
    topicPeople,lookNum,topicStart,topicEnd) values(#{topicId},
    #{userId},#{topicContent},#{topicImgurl},
    #{topicPeople},#{lookNum},#{topicStart},
    #{topicEnd})
  </insert>

  <!--添加话题-->
  <!--int addTopicSelective(Topic topic);-->
  <insert id="addTopicSelective" parameterType="Topic">
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        topicId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="topicContent != null">
        topicContent,
      </if>
      <if test="topicImgurl != null">
        topicImgurl,
      </if>
      <if test="topicPeople != null">
        topicPeople,
      </if>
      <if test="lookNum != null">
        lookNum,
      </if>
      <if test="topicStart != null">
        topicStart,
      </if>
      <if test="topicEnd != null">
        topicEnd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        #{topicId},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="topicContent != null">
        #{topicContent},
      </if>
      <if test="topicImgurl != null">
        #{topicImgurl},
      </if>
      <if test="topicPeople != null">
        #{topicPeople},
      </if>
      <if test="lookNum != null">
        #{lookNum},
      </if>
      <if test="topicStart != null">
        #{topicStart},
      </if>
      <if test="topicEnd != null">
        #{topicEnd},
      </if>
    </trim>
  </insert>


  <!--删除话题-->
  <!--int deleteTopic(Integer topicId);-->
  <delete id="deleteTopic" parameterType="int">
    delete from topic where topicId=#{topicId}
  </delete>

  <!--修改话题-->
  <!--int updateTopic(Topic topic)-->
  <update id="updateTopic" parameterType="Topic">
    update topic set userId=#{userId},
    topicContent=#{topicContent},
    topicImgurl=#{topicImgurl},
    topicPeople=#{topicPeople},
    lookNum=#{lookNum},
    topicStart=#{topicStart},
    topicEnd=#{topicEnd}
  </update>

  <!--修改话题不为空字段-->
  <!--int updateTopicSelective(Topic topic);-->
  <update id="updateTopicSelective" parameterType="Topic">
    update user
    <set>
      <if test="userId != null">
        userId = #{userId},
      </if>
      <if test="topicContent != null">
        topicContent = #{topicContent},
      </if>
      <if test="topicImgurl != null">
        topicImgurl = #{topicImgurl},
      </if>
      <if test="topicPeople != null">
        topicPeople = #{topicPeople},
      </if>
      <if test="lookNum != null">
        lookNum = #{lookNum},
      </if>
      <if test="topicStart != null">
        topicStart = #{topicStart},
      </if>
      <if test="topicEnd != null">
        topicEnd = #{topicEnd},
      </if>
    </set>
    where topicId = #{topicId}
  </update>


  <!--通过id查询话题-->
  <!--int selectTopicByTopicId(Integer topicId);-->
  <select id="selectTopicByTopicId" parameterType="int" resultType="Topic">
    select * from topic where topicId =#{topicId}
  </select>

  <!--通过用户id来查询话题-->
  <!--List<Topic> selectTopicByUserId(Integer userId);-->
  <select id="selectTopicByUserId" parameterType="int" resultType="Topic">
    select * from topic where userId =#{userId}
  </select>

  <!--查询话题是否已存在及根据内容-->
  <!--int selectTopicByTopicContent(@Param("topicContent") String topicContent);-->
  <select id="selectTopicByTopicContent" parameterType="string" resultType="Topic">
    select * from topic where topicContent like '%' #{topicContent} '%'
  </select>

  <!--查询话题参与人数-->
  <!--int selectTopicPeopleByTopicId(Integer topicId);-->
  <select id="selectTopicPeopleByTopicId" parameterType="int">
    select topicPeople from topic where topicId =#{topicId}
  </select>

  <!--查询话题浏览量-->
  <!--int selectLookNumByTopicId(Integer topicId);-->
  <select id="selectLookNumByTopicId" parameterType="int">
    select lookNum from topic where topicId =#{topicId}
  </select>

  <!--查询所有话题-->
  <!--List<Topic> getAllTopic();-->
  <select id="getAllTopic"  resultType="Topic">
    select * from topic
  </select>

  <!--根据时间段查询话题-->
  <!--List<Topic> selectTopicByDate(Date topicStart,Date topicEnd);-->
  <select id="selectTopicByDate"  resultType="Topic">
    select * from topic where topicStart &lt; #{0} and topicEnd &gt; #{1}
  </select>

  <!--查询比某个时间早的所有话题-->
  <!--List<Topic> selectTopicByTopicStart(Date topicStart);-->
  <select id="selectTopicByTopicStart" parameterType="Date" resultType="Topic">
    select * from topic where topicEnd &lt; #{topicStart}
  </select>


  <!--查询比某个时间晚的所有话题-->
  <!--List<Topic> selectTopicByTopicEnd(Date topicEnd);-->
  <select id="selectTopicByTopicEnd" parameterType="Date" resultType="Topic">
    select * from topic where topicStart &gt; #{topicEnd}
  </select>

  <!--//查询某个用户发布话题数量-->
  <!--int getTopicCountByUserId(Integer userId);-->
  <select id="getTopicCountByUserId" parameterType="int">
    select count(*) from topic where userId=#{userId}
  </select>

  <!--//查询话题数量-->
  <!--int getAllTopicCount();-->
  <select id="getAllTopicCount"  resultType="int">
    select count(*) from topic
  </select>



</mapper>