.htmleaf-container{
    margin-top: -100px;
}
.clothes-matching{
    width:1300px;
    margin-left:80px;
}
.matching-article{
    position: relative;
    float: right;
    margin-right:120px;
}
.li1-word .word1,.li2-word .word3,.li3-word .word5,.li4-word .word7{
    font-size:16px;
    font-weight:bold;
    float:left;
}
.matching-article .artice1{
    widthï¼š300px;
}
.artice1 p,.artice2 p,.artice3 p,.artice4 p{
    margin:0 auto;
}
.word2,.word4,.word6,.word8{
    font-size:13px;
}
.doukan{
    float: left;
    position:relative;
    margin-top:-200px;
}
.doukan-list a,.doukan-list2 a{
    font-size:15px;
}
.doukan-pic{
    float:left;
    position:absolute;
    top:70px;
}
.doukan-list{
    padding-left: 120px;
}
.doukan-pic2{
    float:left;
    position:absolute;
    top:70px;
    left:470px;
}
.doukan-list2{
    margin-top:-125px;
    padding-left: 590px;
}
.custom-order{
    margin-left:80px;
    margin-top:70px;
}
.forumjx{
    margin-left:80px;
}



.feature-slide {
    position: relative;
    width: 1000px;
    height: 280px;
    overflow: hidden;
}
.feature-list {
    width: 920px;
    height: 280px;
    margin: 0 auto;
    overflow: hidden;
}
.feature-slide ul li {
    position: relative;
    float: left;
    width: 230px;
    height: 280px;
}
.feature-slide ul li img {
    display: block;
    width: 230px;
    height: 230px;
    margin-bottom: 10px;
}
.feature-slide ul li span {
    display: block;
    width: 210px;
    line-height: 20px;
    padding: 0 15px 0 5px;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
}






.g-content {
    width: 1160px;
    overflow: hidden;
    margin-bottom: 40px;
}
.gLeft {
    width: 766px;
    overflow: hidden;
    float: left;
}
.margB {
    margin-bottom: 30px;
}
.listFocus {
    width: 766px;
    height: 420px;
    overflow: hidden;
}
.g-focus {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.g-focus .foucs {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.g-focus .foucs .item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.g-focus .point {
    position: absolute;
    right: 20px;
    bottom: 16px;
    text-align: right;
    float: right;
    z-index: 2;
}
.g-point.on {
    background: #ff5400;
}
.g-point {
    display: block;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    width: 30px;
    height: 4px;
    background: #989898;
}
.gRight {
    width: 373px;
    overflow: hidden;
    float: right;
}
.darenRc {
    width: 373px;
    height: 420px;
    overflow: hidden;
    position: relative;
}
.darenRc .img {
    width: 373px;
    height: 420px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.darenRc .btn {
    display: block;
    width: 240px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    background: #ea9837;
    position: absolute;
    left: 66px;
    bottom: 42px;
    font-size: 18px;
    z-index: 2;
}
.darenTopic {
    width: 1160px;
    overflow: hidden;
}
.darenTopic .mask {
    width: 1200px;
}
.darenTopic .list {
    width: 374px;
    height: 240px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    background-color: #F5F5F5;
}
.darenTopic .list.mz .top {
    background: #fbf2f6;
}
.darenTopic .list .top .img {
    width: 106px;
    height: 106px;
    overflow: hidden;
    float: left;
    border-radius: 50%;
}
.darenTopic .list .top .img img {
    width: 100%;
    border-radius: 50%;
}
.darenTopic .list .top .names {
    width: 180px;
    overflow: hidden;
    float: left;
    padding-left: 14px;
    padding-top: 20px;
}
.darenTopic .list .top .names .name {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    font-size: 18px;
    color: #272727;
    margin-bottom: 10px;
    font-weight: bold;
}
.darenTopic .list.mz .top .names .tag {
    background: url("../images/sjstag.jpg") no-repeat;
}
.darenTopic .list .txt {
    width: 300px;
    overflow: hidden;
    margin: 18px auto 0;
    font-size: 16px;
    color: #808080;

}
.darenTopic .list .txt span {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 22px;
}
.darenTopic .list.ss .top {
    background: #fbf7f2;
}








.detail-scroll {
        width: 900px;
        height: auto;
        float: left;
        position: relative;
    }
    #caseLeft3 {
        left: 0px;
    }
    #caseRight3 {
        right: 0px;
    }
    #caseLeft3:hover em,#caseRight3:hover em {
        display: block;
    }
    #caseLeft3, #caseRight3 {
        width: 50%;
        height: 440px;
        position: absolute;
        top: 0px;
        z-index: 12;
        opacity: 1;
        cursor: pointer;
    }
    #caseLeft3 em {
        left: 10px;
        background-position: 0px 0px;
    }
    #caseRight3 em {
        right: 10px;
        background-position: right top;
    }
    #caseLeft3 em, #caseRight3 em {
        display: none;
        width: 60px;
        height: 60px;
        background-image: url("../images/btns2.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        margin: -50px 0px 0px;
        cursor: pointer;
    }
    .caroufredsel_wrapper {
        display: block; float: none; z-index: auto; width: 900px; height: 420px; margin: 0px 0px 10px; overflow: hidden;
    }
    .detail-scroll .list1 {
        position: absolute; top: 0px; left: 0px; margin: 0; padding:0;width: 10120px; height: 420px; z-index: auto;
    }
    .detail-scroll .list1 li {
        float: left;
        width: 900px;
        height: 420px;
        background: #F3F4F5 none repeat scroll 0% 0%;
        overflow: hidden;
        position: relative;
    }
    .detail-scroll .list1 li img {
        width: 100%;
        cursor: pointer;
    }
    .detail-scroll .list1 li p {
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 1000;
        width: 900px;
        padding: 0 15px;
        margin: 0;
        color: #FFF;
        line-height: 80px;
        height: 80px;
        font-size: 30px;
        background: transparent url("../images/mayer2.png") repeat scroll 0% 0%;
    }
    .detail-scroll .list2 {
        height: auto;
        text-align: center;
    }
    .detail-scroll .list2 a {
        display: inline-block;
        cursor: pointer;
        opacity: 0.5;
    }
    .detail-scroll .list2 .selected {
        opacity: 1;
    }
