@charset "gb2312";
/* CSS Document */
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;+overflow-x:hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav1,section {margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav1,section { display:block;}
body{color:#000;}
body,button,input,select,textarea{font:12px/1.5 'microsoft yahei', tahoma,arial,\5b8b\4f53;}
input,select,textarea,button{font-size:100%;outline:none}/* 取消表单项聚焦时产生的黄色边框 */
textarea{resize:none}/* 取消textarea的拖动改变大小的功能 */
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img{border:0;}
img,embed{vertical-align:top;}
/*iframe{display:block;}*/
abbr,acronym{border:0;font-variant:normal;}
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul,li {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-weight:500;}
q:before,q:after {content:'';}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
ins,a {text-decoration:none;}
div:after,ul:after,dl:after,.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
div,ul,dl,.clearfix {zoom:1; /* for IE6 IE7 */}

.mt10 {margin-top:10px!important;}
.mt20 {margin-top:20px!important;}
.mt30 {margin-top:30px!important;}
.mt40 {margin-top:40px!important;}
.mt50 {margin-top:50px!important;}
.mt60 {margin-top:60px!important;}
.mt70 {margin-top:70px!important;}
.mt80 {margin-top:80px!important;}
.mt90 {margin-top:90px!important;}
.mt100 {margin-top:100px!important;}

.pt10 {padding-top:10px!important;}
.pt20 {padding-top:20px!important;}
.pt30 {padding-top:30px!important;}
.pt40 {padding-top:40px!important;}
.pt50 {padding-top:50px!important;}
.pt60 {padding-top:60px!important;}
.pt70 {padding-top:70px!important;}
.pt80 {padding-top:80px!important;}
.pt90 {padding-top:90px!important;}
.pt100 {padding-top:100px!important;}

.pb10 {padding-bottom:10px!important;}
.pb20 {padding-bottom:20px!important;}
.pb30 {padding-bottom:30px!important;}
.pb40 {padding-bottom:40px!important;}
.pb50 {padding-bottom:50px!important;}
.pb60 {padding-bottom:60px!important;}
.pb70 {padding-bottom:70px!important;}
.pb80 {padding-bottom:80px!important;}
.pb90 {padding-bottom:90px!important;}
.pb100 {padding-bottom:100px!important;}



.ftArial{font-family:arial;}

.fLeft{float:left;}
.fRight{float:right;}





a{color:#000;}
a:hover {color:#ba9e66;}
a:active{outline:none;}
.logoAndlogin a img{ -webkit-transition: -webkit-transform 0.4s ease; -moz-transition: -moz-transform 0.4s ease; -ms-transition: -ms-transform 0.4s ease;}
.logoAndlogin a:hover img{ transform:scale(1.04, 1.04);-ms-transform:scale(1.04, 1.04); -webkit-transform:scale(1.04, 1.04);}
a:hover img.nohover,
a.nohover:hover img,.ad a:hover img{transform:scale(1, 1);-ms-transform:scale(1, 1); -webkit-transform:scale(1, 1);}

/*ad*/
#crazynavdown{ width:1180px; margin:0 auto; position:relative; overflow:hidden;z-index:1;}
#crazynavdown .s,#crazynavdown .b{ display:none;}
#crazynavdown .s img,#crazynavdown .s embed{ display:block; height:80px; position:relative; z-index:10;}
#crazynavdown .b img,#crazynavdown .b embed{ display:block;}
#crazynavdown .b .b1{height:300px;}
#crazynavdown .s div{/*height:40px;*/}
#crazynavdown .close{background: url('../Images/adclose.gif') no-repeat;bottom:0;cursor: pointer;height: 20px;overflow: hidden;position: absolute;right: 0;width: 50px;z-index:99;}
#crazynavdown .zz{ width:1180px; height:80px; background:url('../Images/space.gif'); position:absolute; top:0; left:0; z-index:20; cursor:pointer;}






/*添加首页样式*/

