@charset "utf-8";
/* CSS Document */



/* tagscloud */
#tagscloud{
    width:250px;
    height:260px;
    position:relative;
    font-size:12px;
    color:#333;
    margin:20px auto 0;
    text-align:center;
}
#tagscloud a{
    position:absolute;
    top:0px;
    left:0px;
    color:#333;
    font-family:Arial;
    text-decoration:none;
    margin:0 10px 15px 0;
    line-height:18px;
    text-align:center;
    font-size:12px;
    padding:1px 5px;
    display:inline-block;
    border-radius:3px;
}
#tagscloud a.tagc1{background:#FE4365;color:#fff;}
#tagscloud a.tagc2{background:#FC9D9A;color:#fff;}
#tagscloud a.tagc3{background:#F9CDAD;color:#fff;}
#tagscloud a.tagc5{background:#83AF9B;color:#fff;}
#tagscloud a:hover{color:#fff;background:#0099ff;}


#tagscloud2{
    width:250px;
    height:260px;
    position:relative;
    font-size:12px;
    color:#333;
    margin:20px auto 0;
    text-align:center;
}
#tagscloud2 a{
    position:absolute;
    top:0px;
    left:0px;
    color:#333;
    font-family:Arial;
    text-decoration:none;
    margin:0 10px 15px 0;
    line-height:18px;
    text-align:center;
    font-size:12px;
    padding:1px 5px;
    display:inline-block;
    border-radius:3px;
}
#tagscloud2 a.tagc1{background:#FE4365;color:#fff;}
#tagscloud2 a.tagc2{background:#FC9D9A;color:#fff;}
#tagscloud2 a.tagc3{background:#F9CDAD;color:#fff;}
#tagscloud2 a.tagc5{background:#83AF9B;color:#fff;}
#tagscloud2 a:hover{color:#fff;background:#0099ff;}

.biaoqian1{
    float: left;
}
.biaoqian2{
    float: right;
}