<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.person.mapper.AdminRoleMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.person.entity.AdminRole">
    <id column="id_adminrole" jdbcType="INTEGER" property="idAdminrole" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id_adminrole, admin_id, role_id, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin_role
    where id_adminrole = #{idAdminrole,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin_role
    where id_adminrole = #{idAdminrole,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zua.ifashion.person.entity.AdminRole">
    insert into admin_role (id_adminrole, admin_id, role_id, 
      state)
    values (#{idAdminrole,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zua.ifashion.person.entity.AdminRole">
    insert into admin_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idAdminrole != null">
        id_adminrole,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idAdminrole != null">
        #{idAdminrole,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zua.ifashion.person.entity.AdminRole">
    update admin_role
    <set>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id_adminrole = #{idAdminrole,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zua.ifashion.person.entity.AdminRole">
    update admin_role
    set admin_id = #{adminId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where id_adminrole = #{idAdminrole,jdbcType=INTEGER}
  </update>
</mapper>