<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.person.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.person.entity.Admin">
    <id column="adminId" jdbcType="INTEGER" property="adminId" />
    <result column="adminName" jdbcType="VARCHAR" property="adminName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
  </resultMap>

  <cache type="com.zua.ifashion.util.redis.RedisCache"/> <!-- *映射语句 -->

  <sql id="Base_Column_List">
    adminId, adminName, password, createDate, introduce
  </sql>
  <!--添加管理员-->
  <insert id="addAdmin" parameterType="com.zua.ifashion.person.entity.Admin">
    insert into admin (adminId, adminName, password,
    createDate, introduce)
    values (#{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
    #{createDate,jdbcType=TIMESTAMP}, #{introduce,jdbcType=VARCHAR})
  </insert>
  <insert id="addAdminSelective" parameterType="com.zua.ifashion.person.entity.Admin">
    <selectKey resultType="INTEGER" order="AFTER" keyProperty="adminId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        adminId,
      </if>
      <if test="adminName != null">
        adminName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 删除    -->
  <delete id="deleteAdmin" parameterType="int">
    delete from admin where adminId = #{adminId}
  </delete>
<!--更新管理员-->
  <update id="updateAdminSelective" parameterType="com.zua.ifashion.person.entity.Admin">
    update admin
    <set>
      <if test="adminName != null">
        adminName = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
    </set>
    where adminId = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateAdmin" parameterType="com.zua.ifashion.person.entity.Admin">
    update admin
    set adminName = #{adminName,jdbcType=VARCHAR},
    password = #{password,jdbcType=VARCHAR},
    createDate = #{createDate,jdbcType=TIMESTAMP},
    introduce = #{introduce,jdbcType=VARCHAR}
    where adminId = #{adminId,jdbcType=INTEGER}
  </update>
  <!-- 通过id查询   -->
  <select id="selectAdminByAdminId" parameterType="int" resultType="com.zua.ifashion.person.entity.Admin">
    select * from admin where adminId =#{adminId}
  </select>


  <!-- 通过管理员名查询   -->
  <select id="selectAdminByAdminName" parameterType="string" resultType="com.zua.ifashion.person.entity.Admin">
    select * from admin where adminName =#{adminName}
  </select>



  <!-- 通过管理员名和密码查询   -->
  <select id="selectAdminByAdminNameAndPass" parameterType="string" resultType="com.zua.ifashion.person.entity.Admin">
    select * from admin where adminName =#{adminName} and password =#{password}
  </select>


  <!-- 查询所有管理员    -->
  <select id="getAllAdmins"  resultType="com.zua.ifashion.person.entity.Admin">
    select * from admin
  </select>



  <!-- 查询所有管理员数量    -->
  <select id="getAllAdminCount"  resultType="int">
    select count(*) from admin
  </select>


</mapper>