<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.person.mapper.DesignerAuthMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.person.vo.AuthDesignerVo">
    <id column="authId" jdbcType="INTEGER" property="authId" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="cardNum" jdbcType="VARCHAR" property="cardNum" />
    <result column="authImgurl" jdbcType="VARCHAR" property="authImgurl" />
    <result column="authState" jdbcType="INTEGER" property="authState" />
    <result column="authDate" jdbcType="TIMESTAMP" property="authDate" />
    <association property="user" javaType="com.zua.ifashion.person.entity.User">
      <result column="username" jdbcType="VARCHAR" property="username" />
    </association>
  </resultMap>






  <insert id="addDesignerAuthSelective" parameterType="com.zua.ifashion.person.entity.DesignerAuth">
    <selectKey resultType="INTEGER" order="AFTER" keyProperty="authId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into designer_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        authId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="cardNum != null">
        cardNum,
      </if>
      <if test="authImgurl != null">
        authImgurl,
      </if>
      <if test="authState != null">
        authState,
      </if><if test="authDate != null">
        authState,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        #{authId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="cardNum != null">
        #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="authImgurl != null">
        #{authImgurl,jdbcType=VARCHAR},
      </if>
      <if test="authState != null">
        #{authState,jdbcType=INTEGER}
      </if>
      <if test="authDate != null">
        #{authDate,jdbcType=TIMESTAMP}
      </if>
        </trim>
  </insert>

  <!-- 删除    -->
  <delete id="deleteDesignerAuth" parameterType="int">
    delete from designer_auth where authId = #{authId}
  </delete>
<!--更新管理员-->
  <update id="updateDesignerAuthSelective" parameterType="com.zua.ifashion.person.entity.DesignerAuth">
    update designer_auth
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="cardNum != null">
        cardNum = #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="authImgurl != null">
        authImgurl = #{authImgurl,jdbcType=VARCHAR},
      </if>
      <if test="authState != null">
        authState = #{authState,jdbcType=INTEGER},
      </if>
      <if test="authDate != null">
        authDate = #{authDate,jdbcType=TIMESTAMP},
    </if>
    </set>
    where authId = #{authId,jdbcType=INTEGER}
  </update>

  <!-- 通过id查询   -->
  <select id="selectDesignerByUserId" parameterType="int" resultType="com.zua.ifashion.person.entity.DesignerAuth">
    select * from designer_auth where userId =#{userId}
  </select>

  <select id="selectDesignerByAuthId" parameterType="int" resultType="com.zua.ifashion.person.entity.DesignerAuth">
    select * from designer_auth where authId =#{authId}
  </select>


  <select id="getAllDesignerAuths"  resultMap="BaseResultMap">
    select d.* ,u.username from designer_auth d,user u
  </select>

</mapper>