<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.person.mapper.RankMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.person.entity.Rank">
    <id column="rankId" jdbcType="INTEGER" property="rankId" />
    <result column="rankName" jdbcType="VARCHAR" property="rankName" />
  </resultMap>


  <!-- 添加   -->
  <insert id="addRank" parameterType="com.zua.ifashion.person.entity.Rank">
    insert into rank(rankId,rankName) values(#{rankId},#{rankName})
  </insert>

  <!-- 删除    -->
  <delete id="deleteRank" parameterType="int">
    delete from rank where rankId = #{rankId}
  </delete>

  <!-- 修改   -->
  <update id="updateRank" parameterType="com.zua.ifashion.person.entity.Rank">
    update  rank set rankName = #{rankName}
  </update>


  <select id="selectRankByRankId" parameterType="int" resultType="com.zua.ifashion.person.entity.Rank">
    select *  from rank where rankId =#{rankId}
  </select>

  <!-- 查询所有    -->
  <select id="getAllRanks"  resultType="com.zua.ifashion.person.entity.Rank">
    select * from rank
  </select>



  <!-- 查询所有数量    -->
  <select id="getAllRankCount"  resultType="int">
    select count(*) from rank
  </select>



</mapper>