<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.person.mapper.RoleModuleMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.person.entity.RoleModule">
    <id column="id_rolemodule" jdbcType="INTEGER" property="idRolemodule" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="module_id" jdbcType="INTEGER" property="moduleId" />
  </resultMap>
  <sql id="Base_Column_List">
    id_rolemodule, role_id, module_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role_module
    where id_rolemodule = #{idRolemodule,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role_module
    where id_rolemodule = #{idRolemodule,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zua.ifashion.person.entity.RoleModule">
    insert into role_module (id_rolemodule, role_id, module_id
      )
    values (#{idRolemodule,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{moduleId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zua.ifashion.person.entity.RoleModule">
    insert into role_module
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idRolemodule != null">
        id_rolemodule,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idRolemodule != null">
        #{idRolemodule,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zua.ifashion.person.entity.RoleModule">
    update role_module
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null">
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
    </set>
    where id_rolemodule = #{idRolemodule,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zua.ifashion.person.entity.RoleModule">
    update role_module
    set role_id = #{roleId,jdbcType=INTEGER},
      module_id = #{moduleId,jdbcType=INTEGER}
    where id_rolemodule = #{idRolemodule,jdbcType=INTEGER}
  </update>
</mapper>