<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.person.mapper.RoleModuleMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.person.entity.RoleModule">
    <id column="rolemoduleId" jdbcType="INTEGER" property="rolemoduleId" />
    <result column="roleId" jdbcType="INTEGER" property="roleId" />
    <result column="moduleId" jdbcType="INTEGER" property="moduleId" />
  </resultMap>




  <!-- 添加管理员   -->
  <insert id="addRoleModule" parameterType="com.zua.ifashion.person.entity.RoleModule">
    <selectKey resultType="INTEGER" order="AFTER" keyProperty="rolemoduleId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into role_module(roleId,moduleId) values(#{roleId},#{moduleId})
  </insert>

  <!-- 批量管理员   -->
  <insert id="addBatchRoleModule"  parameterType="java.util.List">
    insert into role_module (
    roleId,
    moduleId
    )
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.roleId,jdbcType=INTEGER},
      #{item.moduleId,jdbcType=INTEGER}
      )
    </foreach>
  </insert>


  <!-- 删除管理员    -->
  <delete id="deleteRoleModule" parameterType="java.lang.Integer">
    delete from role_module where rolemoduleId = #{rolemoduleId,jdbcType=INTEGER}
  </delete>

  <!-- 修改管理员    -->

  <update id="updateRoleModuleSelective" parameterType="com.zua.ifashion.person.entity.RoleModule">
    update role_module
    <set>
      <if test="roleId != null">
        roleId = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null">
        moduleId = #{moduleId,jdbcType=INTEGER},
      </if>
    </set>
    where rolemoduleId = #{rolemoduleId,jdbcType=INTEGER}
  </update>


  <!-- 通过id查询    -->
  <select id="selectRoleModuleById" parameterType="int" resultType="com.zua.ifashion.person.entity.RoleModule">
    select * from role_module where rolemoduleId =#{rolemoduleId}
  </select>



  <select id="selectRoleModuleByRoleId" parameterType="int" resultType="com.zua.ifashion.person.entity.RoleModule">
    select * from role_module where roleId =#{roleId}
  </select>

  <select id="getAllRoleModules"  resultType="com.zua.ifashion.person.entity.RoleModule">
    select * from role_module
  </select>
</mapper>