<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.person.mapper.TagMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.person.entity.Tag">
    <id column="tagId" jdbcType="INTEGER" property="tagId" />
    <result column="tagName" jdbcType="VARCHAR" property="tagName" />
    <result column="tagMark" jdbcType="VARCHAR" property="tagMark" />
  </resultMap>


  <sql id="Base_Column_List">
    tagId, tagName, tagMark
  </sql>
  <insert id="addTagSelective" parameterType="com.zua.ifashion.person.entity.Tag">
    <selectKey resultType="INTEGER" order="AFTER" keyProperty="tagId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        tagId,
      </if>
      <if test="tagName != null">
        tagName,
      </if>
      <if test="tagMark != null">
        tagMark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null">
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagMark != null">
        #{tagMark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteTag" parameterType="java.lang.Integer">
    delete from tag
    where tagId = #{tagId,jdbcType=INTEGER}
  </delete>




  <update id="updateTagSelective" parameterType="com.zua.ifashion.person.entity.Tag">
    update tag
    <set>
      <if test="tagName != null">
        tagName = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagMark != null">
        tagMark = #{tagMark,jdbcType=VARCHAR},
      </if>
    </set>
    where tagId = #{tagId,jdbcType=INTEGER}
  </update>

  <!-- 查询所有    -->
  <select id="getAllTags"  resultType="com.zua.ifashion.person.entity.Tag">
    select * from tag
  </select>



  <!-- 查询所有数量    -->
  <select id="getAllTagCount"  resultType="int">
    select count(*) from tag
  </select>

  <!-- 查询所有数量    -->
  <select id="selectTagByTagId" parameterType="int"  resultType="com.zua.ifashion.person.entity.Tag">
    select * from tag WHERE tagId = #{tagId}
  </select>




</mapper>