<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.online.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.online.entity.Address">
    <id column="id_address" jdbcType="INTEGER" property="idAddress" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="address_content" jdbcType="VARCHAR" property="addressContent" />
    <result column="address_state" jdbcType="INTEGER" property="addressState" />
  </resultMap>
  <sql id="Base_Column_List">
    id_address, user_id, address_content, address_state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where id_address = #{idAddress,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address
    where id_address = #{idAddress,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zua.ifashion.online.entity.Address">
    insert into address (id_address, user_id, address_content, 
      address_state)
    values (#{idAddress,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{addressContent,jdbcType=VARCHAR}, 
      #{addressState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zua.ifashion.online.entity.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idAddress != null">
        id_address,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="addressContent != null">
        address_content,
      </if>
      <if test="addressState != null">
        address_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idAddress != null">
        #{idAddress,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="addressContent != null">
        #{addressContent,jdbcType=VARCHAR},
      </if>
      <if test="addressState != null">
        #{addressState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zua.ifashion.online.entity.Address">
    update address
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="addressContent != null">
        address_content = #{addressContent,jdbcType=VARCHAR},
      </if>
      <if test="addressState != null">
        address_state = #{addressState,jdbcType=INTEGER},
      </if>
    </set>
    where id_address = #{idAddress,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zua.ifashion.online.entity.Address">
    update address
    set user_id = #{userId,jdbcType=INTEGER},
      address_content = #{addressContent,jdbcType=VARCHAR},
      address_state = #{addressState,jdbcType=INTEGER}
    where id_address = #{idAddress,jdbcType=INTEGER}
  </update>
</mapper>