<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.online.mapper.GoodsReviewMapper">


  <!--public abstract int addGoodsReview(GoodsReview goodsReview);-->

  <!--public abstract int addGoodsReviewSelective(GoodsReview goodsReview);-->

  <!--public abstract int deleteGoodsReview(Integer goodsreviewgId);-->
  <insert id="addGoodsReview" parameterType="GoodsReview">
    insert into goods_review(goodsreviewId,userId,goodsId,reviewContent,reviewData,reviewRank)
    values(#{goodsreviewId},#{userId},#{goodsId},#{reviewContent},#{reviewData},#{reviewRank})
  </insert>

  <insert id="addGoodsReviewSelective" parameterType="GoodsReview">
    insert into goods_review
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsreviewId!=null">
        goodsreviewId,
      </if>
      <if test="userId!=null">
        userId,
      </if>
      <if test="goodsId!=null">
        goodsId,
      </if>
      <if test="reviewContent!=null">
        reviewContent,
      </if>
      <if test="reviewData!=null">
        reviewData,
      </if>
      <if test="reviewRank!=null">
        reviewRank,
      </if>

    </trim>

    <trim prefix="values(" suffixOverrides="," suffix=")">
      <if test="goodsreviewId!=null">
        #{goodsreviewId},
      </if>
      <if test="userId!=null">
       #{userId},
      </if>
      <if test="goodsId!=null">
        #{goodsId},
      </if>
      <if test="reviewContent!=null">
        #{reviewContent},
      </if>
      <if test="reviewData!=null">
        #{reviewData},
      </if>
      <if test="reviewRank!=null">
        #{reviewRank}
      </if>

    </trim>
  </insert>

  <delete id="deleteGoodsReview" parameterType="int">
    DELETE  * from goods_review where goodsreviewId=#{param}
  </delete>

  <!--//    根据id查询-->
  <!--public abstract GoodsReview selectGoodsReviewById(Integer goodsreviewgId);-->

  <!--//    根据用户id查询-->
  <!--public abstract List<GoodsReview> selectGoodsReviewByUserId(Integer userId);-->

  <!--//    根据商品id查询-->
  <!--public abstract List<GoodsReview> selectGoodsReviewByGoodsId(Integer goodsId);-->

<select id="selectGoodsReviewById" parameterType="int" resultType="GoodsReview">
  select * from goods_review where goodsreviewId=#{param}
</select>

  <select id="selectGoodsReviewByUserId" resultType="GoodsReview" parameterType="int">
     select * from goods_review where userId=#{param}
  </select>

  <select id="selectGoodsReviewByGoodsId" parameterType="int" resultType="GoodsReview">
    select * from goods_review where goodsId=#{param}
  </select>

  <!--//查询所有的评论-->
  <!--public abstract List<GoodsReview> selectAllGoodsReview();-->
  <select id="selectAllGoodsReview" resultType="GoodsReview">
    select * from goods_review
  </select>

  <!--//    根据商品的id得到评价该商品的所有用户
  public abstract  List<User> selectUserByGoodsId(Integer goodsId);-->
  <select id="selectUserByGoodsId" resultType="User" parameterType="int">
    select user.* from user,goods_review where goods_review.userId=user.userId and goods_review.goodsId=#{param}
  </select>
</mapper>
