<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.online.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.online.entity.Goods">
    <id column="id_goods" jdbcType="INTEGER" property="idGoods" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="goodstype_id" jdbcType="INTEGER" property="goodstypeId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_price" jdbcType="DOUBLE" property="goodsPrice" />
    <result column="goods_date" jdbcType="TIMESTAMP" property="goodsDate" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="goods_sale" jdbcType="INTEGER" property="goodsSale" />
    <result column="reviewnum" jdbcType="INTEGER" property="reviewnum" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="goods_introduce" jdbcType="VARCHAR" property="goodsIntroduce" />
  </resultMap>
  <sql id="Base_Column_List">
    id_goods, user_id, goodstype_id, goods_name, goods_price, goods_date, goods_count, 
    goods_sale, reviewnum, size, color, goods_introduce
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id_goods = #{idGoods,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where id_goods = #{idGoods,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zua.ifashion.online.entity.Goods">
    insert into goods (id_goods, user_id, goodstype_id, 
      goods_name, goods_price, goods_date, 
      goods_count, goods_sale, reviewnum, 
      size, color, goods_introduce
      )
    values (#{idGoods,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{goodstypeId,jdbcType=INTEGER}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=DOUBLE}, #{goodsDate,jdbcType=TIMESTAMP}, 
      #{goodsCount,jdbcType=INTEGER}, #{goodsSale,jdbcType=INTEGER}, #{reviewnum,jdbcType=INTEGER}, 
      #{size,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{goodsIntroduce,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zua.ifashion.online.entity.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idGoods != null">
        id_goods,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="goodstypeId != null">
        goodstype_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="goodsDate != null">
        goods_date,
      </if>
      <if test="goodsCount != null">
        goods_count,
      </if>
      <if test="goodsSale != null">
        goods_sale,
      </if>
      <if test="reviewnum != null">
        reviewnum,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="goodsIntroduce != null">
        goods_introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idGoods != null">
        #{idGoods,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodstypeId != null">
        #{goodstypeId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodsDate != null">
        #{goodsDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsCount != null">
        #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="goodsSale != null">
        #{goodsSale,jdbcType=INTEGER},
      </if>
      <if test="reviewnum != null">
        #{reviewnum,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="goodsIntroduce != null">
        #{goodsIntroduce,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zua.ifashion.online.entity.Goods">
    update goods
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodstypeId != null">
        goodstype_id = #{goodstypeId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodsDate != null">
        goods_date = #{goodsDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsCount != null">
        goods_count = #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="goodsSale != null">
        goods_sale = #{goodsSale,jdbcType=INTEGER},
      </if>
      <if test="reviewnum != null">
        reviewnum = #{reviewnum,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="goodsIntroduce != null">
        goods_introduce = #{goodsIntroduce,jdbcType=VARCHAR},
      </if>
    </set>
    where id_goods = #{idGoods,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zua.ifashion.online.entity.Goods">
    update goods
    set user_id = #{userId,jdbcType=INTEGER},
      goodstype_id = #{goodstypeId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DOUBLE},
      goods_date = #{goodsDate,jdbcType=TIMESTAMP},
      goods_count = #{goodsCount,jdbcType=INTEGER},
      goods_sale = #{goodsSale,jdbcType=INTEGER},
      reviewnum = #{reviewnum,jdbcType=INTEGER},
      size = #{size,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      goods_introduce = #{goodsIntroduce,jdbcType=VARCHAR}
    where id_goods = #{idGoods,jdbcType=INTEGER}
  </update>
</mapper>