<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.online.mapper.OrdersMapper">


  <!--public abstract int addOrder(Order order);-->
  <!--public abstract int addOrderSelective(Order order);-->

  <insert id="addOrder" parameterType="Orders">
    insert into orders(ordersId,userId,designerId,goodsId,addressId,ordersState,ordersDate,endDate,orderNumber,trueOrder)
      values(#{ordersId},#{userId},#{designerId},#{goodsId},#{addressId},#{ordersState},#{ordersDate},#{endDate},#{orderNumber},#{trueOrder})
  </insert>

  <insert id="addOrderSelective" parameterType="Orders">
    insert into orders
    <selectKey resultType="INTEGER" order="AFTER" keyProperty="ordersId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    <trim prefix="(" suffixOverrides="," suffix=")">
      <if test="ordersId!=null">
        ordersId,
      </if>
      <if test="userId!=null">
        userId,
      </if>
      <if test="designerId!=null">
        designerId,
      </if>
      <if test="goodsId!=null">
        goodsId,
      </if>
      <if test="addressId!=null">
        addressId,
      </if>
      <if test="ordersState!=null">
        ordersState,
      </if>
      <if test="ordersDate!=null">
        ordersDate,
      </if>
      <if test="endDate!=null">
        endDate,
      </if>
      <if test="orderNumber!=null">
        orderNumber,
      </if>
      <if test="trueOrder!=null">
        trueOrder
      </if>
    </trim>
    <trim prefix="values(" suffixOverrides="," suffix=")">
      <if test="ordersId!=null">
        #{ordersId},
      </if>
      <if test="userId!=null">
        #{userId},
      </if>
      <if test="designerId!=null">
        #{designerId},
      </if>
      <if test="goodsId!=null">
        #{goodsId},
      </if>
      <if test="addressId!=null">
        #{addressId},
      </if>
      <if test="ordersState!=null">
        #{ordersState},
      </if>
      <if test="ordersDate!=null">
        #{ordersDate},
      </if>
      <if test="endDate!=null">
        #{endDate},
      </if>
      <if test="orderNumber!=null">
        #{orderNumber},
      </if>
      <if test="trueOrder!=null">
        #{trueOrder},
      </if>
    </trim>

  </insert>

  <!--public abstract List<Orders> selectAllOrders();-->
  <select id="selectAllOrders" resultType="Orders">
    select * from orders
  </select>

  <!--public abstract int updateOrder(Orders orders);-->
  <update id="updateOrder" parameterType="Orders">
    UPDATE orders set ordersId=#{ordersId},userId=#{userId},designerId=#{designerId},goodsId=#{goodsId},addressId=#{addressId},
    ordersState=#{ordersState},ordersDate=#{ordersDate},endDate=#{endDate},orderNumber=#{orderNumber},trueOrder=#{trueOrder}
  </update>

  <!--public abstract int updateOrderSelective(Orders orders);-->
  <update id="updateOrderSelective" parameterType="Orders">
     UPDATE orders set
      <if test="userId!=null">
        userId=#{userId},
      </if>
      <if test="designerId!=null">
        designerId=#{designerId},
      </if>
      <if test="goodsId!=null">
        goodsId=#{goodsId},
      </if>
      <if test="addressId!=null">
        addressId=#{addressId},
      </if>
      <if test="ordersState!=null">
        ordersState=#{ordersState},
      </if>
      <if test="ordersDate!=null">
        ordersDate=#{ordersDate},
      </if>
      <if test="endDate!=null">
        endDate=#{endDate},
      </if>
      <if test="orderNumber!=null">
      orderNumber=#{orderNumber},
     </if>
    <if test="trueOrder!=null">
      trueOrder=#{trueOrder}
    </if>
    where  ordersId=#{ordersId}
  </update>

<!--
  public abstract int deleteOrder(Integer orderId);
-->
<delete id="deleteOrder" parameterType="int">
  delete * from orders where ordersId=#{param}
</delete>
  <!--public abstract Orders selectOrdersById(Integer orderId);-->
  <select id="selectOrdersById" resultType="Orders" parameterType="int">
    select * from  orders where ordersId=#{param}
  </select>

  <!--public abstract Orders selectOrdersByOrderNumber(String orderNumber);-->
  <select id="selectOrdersByOrderNumber" parameterType="string" resultType="Orders">
     select * from  orders where orderNumber=#{param}
  </select>

  <!--根据订单id来查询订单-->
  <select id="selectOrdersByOrdersId" parameterType="int" resultType="com.zua.ifashion.online.entity.Orders">
    select * from orders where ordersId=#{ordersId}
  </select>

  <!--根据订单编号来查询订单-->
  <select id="selectOrderByOrderNumber" parameterType="String" resultType="com.zua.ifashion.online.entity.Orders">
    select * from orders where orderNumber=#{orderNumber}
  </select>
</mapper>