<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.online.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.online.entity.Orders">
    <id column="ordersId" jdbcType="INTEGER" property="ordersId" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="designerId" jdbcType="INTEGER" property="designerId" />
    <result column="goodsId" jdbcType="INTEGER" property="goodsId" />
    <result column="addressId" jdbcType="INTEGER" property="addressId" />
    <result column="ordersState" jdbcType="INTEGER" property="ordersState" />
    <result column="ordersDate" jdbcType="TIMESTAMP" property="ordersDate" />
    <result column="endDate" jdbcType="TIMESTAMP" property="endDate" />
  </resultMap>

  <!--public abstract int addOrder(Order order);-->
  <!--public abstract int addOrderSelective(Order order);-->

  <insert id="addOrder" parameterType="Orders">
    insert into orders(ordersId,userId,designerId,goodsId,addressId,ordersState,ordersDate,endDate)
      values(#{ordersId},#{userId},#{designerId},#{goodsId},#{addressId}，#{ordersState})
  </insert>

  <insert id="addOrderSelective" parameterType="Orders">
    insert into orders
    <trim prefix="(" suffixOverrides="," suffix=")">
      <if test="ordersId!=null">
        ordersId
      </if>
      <if test="userId!=null">
        userId
      </if>
      <if test="designerId!=null">
        designerId
      </if>
      <if test="goodsId!=null">
        goodsId
      </if>
      <if test="addressId!=null">
        addressId
      </if>
      <if test="ordersState!=null">
        ordersState
      </if>
      <if test="ordersDate!=null">
        ordersDate
      </if>
      <if test="endDate!=null">
        endDate
      </if>
    </trim>
    <trim prefix="values(" suffixOverrides="," suffix=")">
      <if test="ordersId!=null">
        #{ordersId}
      </if>
      <if test="userId!=null">
        #{userId}
      </if>
      <if test="designerId!=null">
        #{designerId}
      </if>
      <if test="goodsId!=null">
        #{goodsId}
      </if>
      <if test="addressId!=null">
        #{addressId}
      </if>
      <if test="ordersState!=null">
        #{ordersState}
      </if>
      <if test="ordersDate!=null">
        #{ordersDate}
      </if>
      <if test="endDate!=null">
        #{endDate}
      </if>
    </trim>

  </insert>

  <!--public abstract List<Orders> selectAllOrders();-->
  <select id="selectAllOrders" resultType="Orders">
    select * from orders
  </select>

  <!--public abstract int updateOrder(Orders orders);-->
  <update id="updateOrder" parameterType="Orders">
    UPDATE orders set ordersId=#{ordersId},userId=#{userId},designerId=#{designerId},goodsId=#{goodsId},addressId=#{addressId},
    ordersState=#{ordersState},ordersDate=#{ordersDate},endDate=#{endDate}
  </update>

  <!--public abstract int updateOrderSelective(Orders orders);-->
  <update id="updateOrderSelective" parameterType="Orders">
     UPDATE orders set
      <if test="userId!=null">
        userId=#{userId}
      </if>
      <if test="designerId!=null">
        designerId=#{designerId}
      </if>
      <if test="goodsId!=null">
        goodsId=#{goodsId}
      </if>
      <if test="addressId!=null">
        addressId=#{addressId}
      </if>
      <if test="ordersState!=null">
        ordersState=#{ordersState}
      </if>
      <if test="ordersDate!=null">
        ordersDate=#{ordersDate}
      </if>
      <if test="endDate!=null">
        endDate=#{endDate}
      </if>
    where  ordersId=#{ordersId}
  </update>

<!--
  public abstract int deleteOrder(Integer orderId);
-->
<delete id="deleteOrder" parameterType="int">
  delete * from orders where ordersId=#{param}
</delete>
</mapper>