<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zua.ifashion.online.mapper.ReceiveOrderMapper">
  <resultMap id="BaseResultMap" type="com.zua.ifashion.online.entity.ReceiveOrder">
    <id column="receiveorderId" jdbcType="INTEGER" property="receiveorderId" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="designerId" jdbcType="INTEGER" property="designerId" />
    <result column="ordersId" jdbcType="INTEGER" property="ordersId" />
    <result column="startDate" jdbcType="TIMESTAMP" property="startDate" />
    <result column="endState" jdbcType="TIMESTAMP" property="endState" />
    <result column="ordersDate" jdbcType="TIMESTAMP" property="ordersDate" />
    <result column="trueOrder" jdbcType="VARCHAR" property="trueOrder" />
  </resultMap>

  <!--public abstract int addReceiveOrder(ReceiveOrder receiveOrder);-->
  <!--public abstract int addReceiveOrderSelective(ReceiveOrder receiveOrder);-->

  <insert id="addReceiveOrder" parameterType="ReceiveOrder">
     insert into receive_order(receiveorderId,userId,designerId,ordersId,startDate,endDate,orderState,trueOrder,virtueOrder)
      values(#{receiveorderId},#{userId},#{designerId},#{ordersId},#{startDate},#{endDate},#{orderState},#{trueOrder},#{virtueOrder})
  </insert>
<insert id="addReceiveOrderSelective" parameterType="ReceiveOrder">
  insert into receive_order
  <selectKey resultType="INTEGER" order="AFTER" keyProperty="receiveorderId">
    SELECT LAST_INSERT_ID()
  </selectKey>
  <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="receiveorderId!=null">
      receiveorderId,
    </if>
    <if test="userId!=null">
      userId,
    </if>
    <if test="designerId!=null">
      designerId,
    </if>
    <if test="ordersId!=null">
      ordersId,
    </if>
    <if test="startDate!=null">
      startDate,
    </if>
    <if test="endDate!=null">
      endDate,
    </if>
    <if test="orderState!=null">
      orderState,
    </if>
    <if test="trueOrder!=null">
      trueOrder,
    </if>
    <if test="virtueOrder!=null">
      virtueOrder
    </if>

  </trim>

  <trim prefix="values(" suffix=")" suffixOverrides=",">
    <if test="receiveorderId!=null">
      #{receiveorderId},
    </if>
    <if test="userId!=null">
      #{userId},
    </if>
    <if test="designerId!=null">
      #{designerId},
    </if>
    <if test="ordersId!=null">
      #{ordersId},
    </if>
    <if test="startDate!=null">
      #{startDate},
    </if>
    <if test="endDate!=null">
      #{endDate},
    </if>
    <if test="orderState!=null">
      #{orderState},
    </if>
    <if test="trueOrder!=null">
      #{trueOrder},
    </if>
    <if test="virtueOrder!=null">
      #{virtueOrder}
    </if>

  </trim>
</insert>


  <!--根据设计师id来查询接单-->
  <select id="selectReceiveByDesignerId" resultType="com.zua.ifashion.online.entity.ReceiveOrder" parameterType="int">
    select * from receive_order where designerId=#{designerId}
  </select>

  <!--根据订单id来查询接单-->
  <select id="selectReceiveByOrdersId" parameterType="int" resultType="com.zua.ifashion.online.entity.ReceiveOrder">
    select * from receive_order where ordersId=#{ordersId}
  </select>
  <!--public abstract int updateReceiveOrder(ReceiveOrder receiveOrder);-->
  <update id="updateReceiveOrder" parameterType="ReceiveOrder">
    UPDATE receive_order set

    <if test="receiveorderId!=null">
      receiveorderId=#{receiveorderId},
    </if>
    <if test="userId!=null">
      userId=#{userId},
    </if>
    <if test="designerId!=null">
      designerId=#{designerId},
    </if>
    <if test="ordersId!=null">
      ordersId=#{ordersId},
    </if>
    <if test="startDate!=null">
      startDate=#{startDate},
    </if>
    <if test="endDate!=null">
      endDate=#{endDate},
    </if>
    <if test="orderState!=null">
      orderState=#{orderState},
    </if>
    <if test="trueOrder!=null">
      trueOrder=#{trueOrder},
    </if>
    <if test="virtueOrder!=null">
      virtueOrder=#{virtueOrder}
    </if>
    where ordersId=#{ordersId}
  </update>

</mapper>