.message-bell-btn:hover {
    color: #999;
}

.message-bell-btn {
    font-size: 18px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
}

.message-bell .badge-dot,
.message-bell .badge {
    top: -10px;
    left: -5px;
}

.badge,
.badge-dot {
    position: relative;
    display: inline-block;
    padding: 0 6px;
    font-size: 12px;
    text-align: center;
    background-color: #FF5722;
    color: #fff;
    border-radius: 10px;
    line-height: 16px;
}

.badge-dot {
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 50%;
}